<webobject name="Page">Plug-in: <span class="hl"><webobject name="ScriptName"/></span>

<p>Configuration name: <webobject name="Name"/></p>
<p>This named configuration profile contains common
option settings that are shared by the following assignment(s):</p>
<div class="shadow"><table><thead><tr><th>Assignment</th><th>Description</th><th>Instances</th></tr></thead><tbody>
<webobject name="Repetition3">
<webobject name="TR">
<td><wo:if condition="$otherAssignmentStep.assignment.url"><webobject name="AssignmentName"/></wo:if><wo:else><wo:str value="$otherAssignmentStep.assignment.name"/></wo:else></td>
<td><webobject name="AssignmentDescription"/></td>
<td><webobject name="AssignmentInstanceCount"/></td>
</webobject></webobject>
</tbody></table></div><div class="spacer">&nbsp;</div>

<h2>Shared Options</h2>

<webobject name="OptionEditor"/>

</webobject>