<wo name="BasePage"><div id="content">
<wo:if condition="$includePageWrapping"><div id="header">
  <div class="title width25 floatLeft">
    <h1>Web-CAT</h1>
    <h2>Automatic grading<br/>using student-written tests</h2>
  </div>

  <div id="utils">
    <wo:link action="$goToProfile"><wo:str value="$session.user.name"/></wo:link> |
    <wo:link href="$helpURL">help</wo:link> |
    <wo:link action="$goToFeedback">feedback</wo:link> |
    <wo:link action="$logout">logout</wo:link>
  </div>

  <wo name="HasMultipleRoles"><div id="roles">choose role:
    <wo:loop list="$session.tabs.children" item="$aRole" index="$aRoleIndex">
      <wo name="RoleIsVisible">
        <wo name="IsNotFirstRole">|</wo>
        <wo:if condition="~selectedRole.equals(aRole)"><span class="here"><wo:str value="$aRole.label"/></span></wo:if>
        <wo:else>
        <wo:link action="$switchRole"><wo:str value="$aRole.label"/></wo:link>
        </wo:else>
      </wo>
    </wo:loop>
  </div></wo>

  <div id="mainMenudiv">
    <ul id="mainMenu" class="floatRight">
      <wo:loop list="$selectedRole.children" item="$primaryTabItem">
        <wo:if condition="$primaryTabIsVisible"><wo name="PrimaryTab">
          <wo:link action="$primaryTabLink"><wo:str value="$primaryTabItem.label"/><wo:if condition="$hasVisibleSecondaryTabs">  &#187;</wo:if></wo:link>
          <wo:if condition="$hasVisibleSecondaryTabs">
            <ul><wo:loop list="$primaryTabItem.children" item="$secondaryTabItem">
              <wo:if condition="$secondaryTabIsVisible"><wo name="SecondaryTab">
                <wo:link action="$secondaryTabLink" string="$secondaryTabItem.label"/>
              </wo></wo:if>
            </wo:loop></ul>
          </wo:if>
        </wo></wo:if>
      </wo:loop>
    </ul>
  </div>
</div>
</wo:if><div id="page"><div class="width100 floatRight">
<wo:if condition="$hasTitle"><div class="module title">
  <div class="floatLeft"><h1><wo:str value="$title"/></h1></div>
  <wo:if condition="$permalink"><wo:link href="$permalink" class="permalink floatRight">Permalink</wo:link></wo:if>
  <div class="floatRight"><wo name="Navigator"/></div>
  <div style="clear:both;"></div>
</div></wo:if>
<webobject name="Errors"/>
<wo name="ForceNavigation">
<div class="module">
<p>Please select a course and assignment above to continue.</p>
</div></wo><wo name="DoNotForceNavigation"><wo:content/></wo>
</div></div></div><wo:if condition="$includePageWrapping"><wo:org.webcat.core.Footer/></wo:if></wo>
