<wo name="Page"><wo name="WizardForm">
<wo name="PickSubmissionDialog"/>

<wo:org.webcat.core.WCPageModule title="Result Summary">
  <wo name="ResultInfo"/>
  <wo name="ScoreSummary"/>
  <p class="clear">
      <wo name="Done"/>Show grade to student?
      <wo name="Regrade"/>
      <wo name="SelectSubmission"/>
      <wo name="FullPrintableReport"/>
  </p>
</wo:org.webcat.core.WCPageModule>
<wo:org.webcat.core.WCPageModule title="File Details">
  <wo name="HasFileStats">
    <wo:WCStyledTable><thead>
      <tr>
        <th>File<wo name="WCSortOrder1"/></th>
        <th class="sm">Staff<br/>Cmts<wo name="WCSortOrder5"/></th>
        <th class="sm">Staff<br/>Pts<wo name="WCSortOrder6"/></th>
        <wo:if condition="$showAutoGradedComments">
          <th class="sm">Other<br/>Cmts<wo name="WCSortOrder4"/></th>
        </wo:if>
        <th class="sm">Other<br/>Pts<wo name="WCSortOrder2"/></th>
        <wo name="ShowCoverageData">
          <th class="sm" colspan="2" align="left"><wo name="StatsLabel"/><wo name="WCSortOrder3"/></th>
        </wo>
      </tr></thead><tbody>
      <wo name="StatRepetition"><wo name="TR">
        <td><wo name="FileName"/></td>
        <td class="n"><wo name="FileStaffRemarks"/></td>
        <td class="n"><wo name="FileStaffDeduction"/></td>
        <wo:if condition="$showAutoGradedComments">
          <td class="n"><wo name="FileRemarks"/></td>
        </wo:if>
        <td class="n"><wo name="FileDeduction"/></td>
        <wo name="ShowCoverageData"><wo name="HasCoverageData">
          <td class="n"><wo name="Coverage"/>%</td>
          <td><wo name="CoverageMeter"/></td>
        </wo><wo name="HasNoCoverageData"><td>&nbsp;</td><td>&nbsp;</td>
      </wo></wo>
    </wo></wo>
    </tbody></wo:WCStyledTable>
  </wo>
</wo:org.webcat.core.WCPageModule>

<wo:org.webcat.core.WCPageModule title="TA/Instructor Comments">
  <div><wo name="Comments"/></div>
  <div>Format: <wo name="CommentFormat"/></div>
</wo:org.webcat.core.WCPageModule>

<wo:org.webcat.grader.PartialInlineReport submissionResult="$result" file="$result.summaryFile" title="Summary of Automated Feedback" open="$true"/>
<wo:org.webcat.grader.PartialInlineReport submissionResult="$result" styleVersion="$result.studentReportStyleVersion" file="$result.resultFile" title="Student Inline Report" open="$true"/>
<wo:org.webcat.grader.PartialInlineReport submissionResult="$result" styleVersion="$result.staffReportStyleVersion" file="$result.staffResultFile" title="Staff Inline Report" open="$true"/>

<wo:org.webcat.core.WCPageModule
  title="Browse Raw Files: Submission and Results" dynamic="true" open="false" id="fileBrowserModule">
  <wo name="FileBrowser"/>
</wo:org.webcat.core.WCPageModule>

<div class="module right">
  <wo name="NextButton"/>
  <wo name="HasNextStudent"><wo name="NextStudentButton"/></wo>
  <wo:WCButton label="Cancel" action="$cancel"/>
</div>

</wo></wo>
