<webobject name="Page"><webobject name="ResultInfo"/>
<div style="clear:both"><p><webobject name="Done"/>Show grade to student? <webobject name="Regrade"/> <webobject name="SelectSubmission"/></p></div>
<webobject name="ScoreSummary"/>
<webobject name="HasFileStats">
<div class="shadow"><table><thead>
  <tr><th class="sm">Done?<webobject name="WCSortOrder7"/></th>
    <th>File<webobject name="WCSortOrder1"/></th>
        <th class="sm">Staff<br/>Cmts<webobject name="WCSortOrder5"/></th>
        <th class="sm">Staff<br/>Pts<webobject name="WCSortOrder6"/></th>
        <wo:if condition="$showAutoGradedComments">
        <th class="sm">Other<br/>Cmts<webobject name="WCSortOrder4"/></th>
        </wo:if>
        <th class="sm">Other<br/>Pts<webobject name="WCSortOrder2"/></th>
    <webobject name="ShowCoverageData">
      <th class="sm" colspan="2" align="left"><webobject name="StatsLabel"/><webobject name="WCSortOrder3"/></th>
    </webobject></tr></thead><tbody>
  <webobject name="StatRepetition"><webobject name="TR">
    <td><webobject name="FileStatus"/></td>
    <td><webobject name="ShowDetails"/>&nbsp;<webobject name="FileName"/></td>
    <td class="n"><webobject name="FileStaffRemarks"/></td>
    <td class="n"><webobject name="FileStaffDeduction"/></td>
    <wo:if condition="$showAutoGradedComments">
    <td class="n"><webobject name="FileRemarks"/></td>
    </wo:if>
    <td class="n"><webobject name="FileDeduction"/></td>
    <webobject name="ShowCoverageData"><webobject name="HasCoverageData">
      <td class="n"><webobject name="Coverage"/>%</td>
      <td><webobject name="CoverageMeter"/></td>
    </webobject><webobject name="HasNoCoverageData"><td>&nbsp;</td><td>&nbsp;</td>
    </webobject></webobject>
  </webobject></webobject>
</tbody></table></div><div class="spacer">&nbsp;</div>
</webobject>
<webobject name="FullPrintableReport"/>
<div class="shadow"><table><thead><tr><th>TA/Instructor Comments</th></tr></thead><tbody>
<tr><td><webobject name="Comments"/></td></tr>
<tr><td>Format: <webobject name="CommentFormat"/></td></tr>
</tbody></table></div><div class="spacer">&nbsp;</div>
<webobject name="SummaryReport"/>
<webobject name="StudentInlineReport"/>
<webobject name="StaffInlineReport"/>
<div class="spacer">&nbsp;</div><webobject name="FileBrowser"/>
</webobject>
