<webobject name="Page">
<wo:net.sf.webcat.core.WCPageModule title="Students Enrolled in This Course">
For: <span class="hl"><wo:str value="$courseOffering.deptNumberAndName"/></span>
<table><thead>
  <tr><td colspan="4" class="batchnav"><webobject name="BatchNavigator"/></td></tr>
  <tr><th>User ID<webobject name="WCSortOrder2"/></th>
    <th>Name<webobject name="WCSortOrder1"/></th><th>E-Mail</th><th>Action</th></tr></thead><tbody>
  <webobject name="StudentRepetition"><webobject name="TR">
    <td><wo:str value="$student.userName"/></td><td><wo:if condition="$student.url"><webobject name="Name"/></wo:if><wo:else><wo:str value="$student.name_LF"/></wo:else></td>
    <td><webobject name="Email"/></td><td><webobject name="RemoveStudent"/></td>
  </webobject></webobject>
  <wo:not condition="$studentDisplayGroup.allObjects.count">
  <webobject name="TR"><td colspan="4">No students are enrolled.</td></webobject>
  </wo:not>
</tbody></table>
</wo:net.sf.webcat.core.WCPageModule>

<wo:net.sf.webcat.core.WCPageModule title="Upload a CSV Roster">
<p>Add more students to your roster using a comma-delimited text file:</p>
<p>CSV File: <wo:upload data="$data" filePath="$filePath" size="60" dojoType="dojox.form.FileInput"/></p>
<wo:WCButton action="$upload" label="Upload"/><wo name="UploadInfo"/>
</wo:net.sf.webcat.core.WCPageModule>

<wo:net.sf.webcat.core.WCPageModule title="Manually Add Existing Student Accounts" open="$manuallyAdding">
<wo:str value="$forceManuallyAdding"/>
<table><thead>
  <tr><td colspan="4" class="batchnav"><webobject name="BatchNavigator2"/></td></tr>
  <tr><th>User ID<webobject name="WCSortOrder4"/></th>
    <th>Name<webobject name="WCSortOrder3"/></th><th>E-Mail</th><th>Action</th></tr></thead><tbody>
  <webobject name="NotStudentRepetition"><webobject name="TR">
    <td><wo:str value="$student.userName"/></td><td><webobject name="Name"/></td>
	<td><webobject name="Email"/></td><td><webobject name="AddStudent"/></td>
  </webobject></webobject>
  <wo:not condition="$notStudentDisplayGroup.allObjects.count">
  <webobject name="TR"><td colspan="4">No unenrolled users to list.</td></webobject>
  </wo:not>
</tbody></table>
</wo:net.sf.webcat.core.WCPageModule>
</webobject>
