<webobject name="Page">For: <span class="hl"><webobject name="CourseName"/></span><p>Students enrolled in this course:<br>
<div class="shadow"><table>
  <tr><td colspan="4" class="batchnav"><webobject name="BatchNavigator"/></td></tr>
  <tr><th>User ID<webobject name="WCSortOrder2"/></th>
    <th>Name<webobject name="WCSortOrder1"/></th><th>E-Mail</th><th>Action</th></tr>
  <webobject name="StudentRepetition"><webobject name="TR">
    <td><webobject name="UserID"/></td><td><webobject name="Name"/></td>
    <td><webobject name="Email"/></td><td><webobject name="RemoveStudent"/></td>
  </webobject></webobject>
  <webobject name="HasNoStudents">
  <td colspan="4">No students are enrolled.</td>
  </webobject>
</table></div><div class="spacer">&nbsp;</div>
<div class="shadow"><table>
<tr><th>Upload a CSV Roster</th></tr>
<tr><td><p>Select the institution (authentication domain) for these
students:</p>
<webobject name="AuthList"/>
<p>Upload a comma-separated file in <select name="format">
<option value="1"<webobject name="GenericSelected"> selected</webobject>>Generic CSV</option>
<option value="0"<webobject name="BannerSelected"> selected</webobject>>Virginia Tech's Banner CSV</option></select> format:</p>
<p><webobject name="uploadCSV"/>
<webobject name="Upload"/></p>
</td></tr></table></div><div class="spacer">&nbsp;</div>
<p>Manually add individual students:</p>
<div class="shadow"><table>
  <tr><td colspan="4" class="batchnav"><webobject name="BatchNavigator2"/></td></tr>
  <tr><th>User ID<webobject name="WCSortOrder4"/></th>
    <th>Name<webobject name="WCSortOrder3"/></th><th>E-Mail</th><th>Action</th></tr>
  <webobject name="NotStudentRepetition"><webobject name="TR">
    <td><webobject name="UserID"/></td><td><webobject name="Name"/></td>
	<td><webobject name="Email"/></td><td><webobject name="AddStudent"/></td>
  </webobject></webobject>
  <webobject name="HasNoPotentialStudents">
  <td colspan="4">No unenrolled users to list.</td>
  </webobject>
</table></div><div class="spacer">&nbsp;</div>
</webobject>