<webobject name="Page">
<wo:org.webcat.core.WCPageModule title="Students Enrolled in This Course">
For: <span class="hl"><wo:str value="$courseOffering.deptNumberAndName"/></span>
<table><thead>
  <tr><td colspan="4" class="batchnav"><webobject name="BatchNavigator"/></td></tr>
  <tr><th>User ID<webobject name="WCSortOrder2"/></th>
    <th>Name<webobject name="WCSortOrder1"/></th><th>E-Mail</th><th>Action</th></tr></thead><tbody>
  <webobject name="StudentRepetition"><webobject name="TR">
    <td><wo:str value="$student.userName"/></td><td><wo:if condition="$student.url"><webobject name="Name"/></wo:if><wo:else><wo:str value="$student.name_LF"/></wo:else></td>
    <td><webobject name="Email"/></td><td><webobject name="RemoveStudent"/></td>
  </webobject></webobject>
  <wo:not condition="$studentDisplayGroup.allObjects.count">
  <webobject name="TR"><td colspan="4">No students are enrolled.</td></webobject>
  </wo:not>
</tbody></table>
</wo:org.webcat.core.WCPageModule>

<wo:org.webcat.core.WCPageModule title="Upload a CSV Roster">
<p>Add more students to your roster using a comma-delimited text file:</p>
<p>CSV File: <wo:upload data="$data" filePath="$filePath" size="60" id="theDiv" style="display:inline; vertical-align: middle;" dojoType="dojox.form.FileInput"/>
<wo:WCButton action="$upload" label="Upload"/><wo name="UploadInfo"/></p>
<script type="text/javascript">
dojo.ready(function() {
    node = dijit.byId("theDiv").domNode;
    fakeInput = dojo.query(".dijitFakeInput", node)[0];
    width = fakeInput.offsetWidth; //dojo.marginBox(fakeInput).w;
    height = fakeInput.offsetHeight; //dojo.marginBox(fakeInput).w;
    console.log("node = ", node, "fakeInput = ", fakeInput, "width = ", width);
    dojo.style(node, "display", "inline-block");
    dojo.marginBox(node, { w: width, h: height });
});
</script>
</wo:org.webcat.core.WCPageModule>

<wo:org.webcat.core.WCPageModule title="Manually Add Existing Student Accounts" open="$manuallyAdding">
<wo:str value="$forceManuallyAdding"/>
<wo:WCTable id="unenrolledStudents" displayGroup="$notStudentDisplayGroup" searchOnKeyPaths="userName,firstName,lastName">
    <wo:WCTableHeadings>
        <wo:WCTableHeading title="User ID" sortOnKeyPaths="userName"/>
        <wo:WCTableHeading title="Name" sortOnKeyPaths="lastName,firstName,userName"/>
        <wo:WCTableHeading title="E-mail" sortOnKeyPaths="email"/>
        <th>Action</th>
    </wo:WCTableHeadings>
    <wo:WCTableRows item="$student" noRowsMessage="The search returned zero students.">
        <wo:WCTableRow>
            <td><wo:tstr value="$student.userName"/></td>
            <td><wo name="Name"><wo:tstr value="$student.name_LF"/></wo></td>
            <td><wo name="Email"><wo:tstr value="$student.email"/></wo></td>
            <td><wo name="AddStudent"/></td>
        </wo:WCTableRow>
    </wo:WCTableRows>
</wo:WCTable>
</wo:org.webcat.core.WCPageModule>
</webobject>
