<webobject name="TR">
  <td>Queued jobs</td><td class="n"><webobject name="QueuedJobCount"/></td>
</webobject><webobject name="TR">
  <td>Jobs processed</td><td class="n"><webobject name="ProcessedJobCount"/></td>
</webobject><webobject name="TR">
  <td>Most recent job wait</td><td class="n"><webobject name="MostRecentJobWait"/></td>
</webobject><webobject name="TR">
  <td>Average time per job</td><td class="n"><webobject name="AverageTimePerJob"/></td>
</webobject><webobject name="TR">
  <td>New submissions processed in about</td><td class="n"><webobject name="EstimatedWait"/></td>
</webobject><webobject name="TR">
  <td>Halted assignments</td><td class="n"><webobject name="HaltedCount"/></td>
</webobject><webobject name="TR">
  <td>Stalled jobs</td><td class="n"><webobject name="StalledJobCount"/></td>
</webobject>