<wo:WCDiv dojoType="dijit.form.DropDownButton">
<span>Change Assignment</span>
<wo:WCDiv dojoType="dijit.TooltipDialog" title="Choose Assignment">
<wo:WCForm>
<fieldset class="course">
<legend>Selected Course</legend>
<ol>
<li>
<wo:WCContentPane id="$idFor.coursePane">
<label for="<wo:str value="$idFor.courseSelector"/>">Course offering:</label>
<wo name="CourseFilter">
    <wo:WCConnectAction event="onChange" action="$updateAssignments" remote.refreshPanes="$idFor.assignmentPane"/>
</wo>
</wo:WCContentPane>
</li>
<li><label for="<wo:str value="$idFor.semesterSelector"/>">Show semester:</label>
<wo name="SemesterFilter">
    <wo:WCConnectAction event="onChange" action="$updateCourseOfferings" remote.refreshPanes="['coursePane','assignmentPane']"/>
</wo>
</li>
<wo:if condition="$user.hasTAPrivileges">
<li><label for="<wo:str value="$idFor.includeWhatImTeachingCheckbox"/>">Include:</label>
<wo name="IncludeWhatImTeaching">
    <wo:WCConnectAction event="onChange" action="$updateCourseOfferings" remote.refreshPanes="['coursePane','assignmentPane']"/>
</wo>
<label for="<wo:str value="$idFor.includeWhatImTeachingCheckbox"/>" class="trailing">what I'm teaching</label>
</li>
</wo:if>
<wo:if condition="$user.hasAdminPrivileges">
<li><label for="<wo:str value="$idFor.includeAdminAccessCheckbox"/>">Include:</label>
<wo name="IncludeAdminAccess">
    <wo:WCConnectAction event="onChange" action="$updateCourseOfferings" remote.refreshPanes="['coursePane','assignmentPane']"/>
</wo>
<label for="<wo:str value="$idFor.includeAdminAccessCheckbox"/>" class="trailing">admin access</label>
</li>
</wo:if>
</ol></fieldset>
<fieldset class="assignment">
<legend>Selected Assignment</legend><ol>
<li>
<wo:WCContentPane style="padding: 4px" id="$idFor.assignmentPane">
<label for="<wo:str value="$idFor.assignmentSelector"/>">Assignment:</label>
<wo name="AssignmentFilter">
</wo>
</wo:WCContentPane>
</li>
<wo:if condition="$user.hasTAPrivileges">
<li><label for="<wo:str value="$idFor.showUnpublishedAssignmentsCheckbox"/>">Show:</label>
<wo name="ShowUnpublishedAssignments">
    <wo:WCConnectAction event="onChange" action="$updateAssignments" remote.refreshPanes="$idFor.assignmentPane"/>
</wo>
<label for="<wo:str value="$idFor.showUnpublishedAssignmentsCheckbox"/>" class="trailing">unpublished</label>
</li>
</wo:if>
<li><label for="<wo:str value="$idFor.showClosedAssignmentsCheckbox"/>">Show:</label>
<wo name="ShowClosedAssignments">
    <wo:WCConnectAction event="onChange" action="$updateAssignments" remote.refreshPanes="$idFor.assignmentPane"/>
</wo>
<label for="<wo:str value="$idFor.showClosedAssignmentsCheckbox"/>" class="trailing">closed</label>
</li>
</ol></fieldset>
<div class="center">
<wo name="OK">OK</wo>
<wo name="Cancel">Cancel</wo>
</div>
</wo:WCForm>
</wo:WCDiv>
</wo:WCDiv>
