<wo:WCDiv dojoType="dijit.form.DropDownButton" id="$idFor.navigatorButton">
<span>Change Assignment</span>
<wo:WCDiv dojoType="dijit.TooltipDialog" title="Choose Assignment">
<wo:WCForm>
<fieldset class="course">
<legend>Selected Course</legend>
<ol>
<li>
<wo:WCContentPane id="$idFor.coursePane">
<wo:WOGenericContainer elementName="label" for="$idFor.courseSelector">Course offering:</wo:WOGenericContainer>
<wo name="CourseFilter">
    <wo:WCConnectAction event="onChange" action="$updateAssignments" remote.refreshPanes="$idFor.assignmentPane"/>
</wo>
</wo:WCContentPane>
</li>
<li><wo:WOGenericContainer elementName="label" for="$idFor.semesterSelector">Show semester:</wo:WOGenericContainer>
<wo name="SemesterFilter">
    <wo:WCConnectAction event="onChange" action="$updateCourseOfferings" remote.refreshPanes="$idsForCourseAndAssignmentPanes"/>
</wo>
</li>
<wo:if condition="$user.hasTAPrivileges">
<li><wo:WOGenericContainer elementName="label" for="$idFor.includeWhatImTeachingCheckbox">Include:</wo:WOGenericContainer>
<wo name="IncludeWhatImTeaching">
    <wo:WCConnectAction event="onChange" action="$updateCourseOfferings" remote.refreshPanes="$idsForCourseAndAssignmentPanes"/>
</wo>
<wo:WOGenericContainer elementName="label" for="$idFor.includeWhatImTeachingCheckbox" class="trailing">what I'm teaching</wo:WOGenericContainer>
</li>
</wo:if>
<wo:if condition="$user.hasAdminPrivileges">
<li><wo:WOGenericContainer elementName="label" for="$idFor.includeAdminAccessCheckbox">Include:</wo:WOGenericContainer>
<wo name="IncludeAdminAccess">
    <wo:WCConnectAction event="onChange" action="$updateCourseOfferings" remote.refreshPanes="$idsForCourseAndAssignmentPanes"/>
</wo>
<wo:WOGenericContainer elementName="label" for="$idFor.includeAdminAccessCheckbox" class="trailing">admin access</wo:WOGenericContainer>
</li>
</wo:if>
</ol></fieldset>
<fieldset class="assignment">
<legend>Selected Assignment</legend><ol>
<li>
<wo:WCContentPane style="padding: 4px" id="$idFor.assignmentPane">
<wo:WOGenericContainer elementName="label" for="$idFor.assignmentSelector">Assignment:</wo:WOGenericContainer>
<wo name="AssignmentFilter">
</wo>
</wo:WCContentPane>
</li>
<wo:if condition="$userIsStaffForSelectedCourse">
<li><wo:WOGenericContainer elementName="label" for="$idFor.showUnpublishedAssignmentsCheckbox">Show:</wo:WOGenericContainer>
<wo name="ShowUnpublishedAssignments">
    <wo:WCConnectAction event="onChange" action="$updateAssignments" remote.refreshPanes="$idFor.assignmentPane"/>
</wo>
<wo:WOGenericContainer elementName="label" for="$idFor.showUnpublishedAssignmentsCheckbox" class="trailing">unpublished</wo:WOGenericContainer>
</li>
</wo:if>
<wo:if negate="true" condition="$hideClosedAssignmentsFromStudents">
<li><wo:WOGenericContainer elementName="label" for="$idFor.showClosedAssignmentsCheckbox">Show:</wo:WOGenericContainer>
<wo name="ShowClosedAssignments">
    <wo:WCConnectAction event="onChange" action="$updateAssignments" remote.refreshPanes="$idFor.assignmentPane"/>
</wo>
<wo:WOGenericContainer elementName="label" for="$idFor.showClosedAssignmentsCheckbox" class="trailing">closed</wo:WOGenericContainer>
</li>
</wo:if>
</ol></fieldset>
<div class="center">
<wo name="OK">OK</wo>
<wo:if negate="true" condition="$startOpen"><wo name="Cancel">Cancel</wo></wo:if>
</div>
</wo:WCForm>
</wo:WCDiv>
</wo:WCDiv><wo:if condition="$startOpen">
<script type="text/javascript">
dojo.addOnLoad(function() { dijit.byId("<wo:str value="$idFor.navigatorButton"/>")._openDropDown(); });
</script></wo:if>
