<wo name="Page"><wo:not condition="$submissionChosen">
  <wo:org.webcat.core.WCPageModule title="Please Choose a Submission">
    <p>Please choose
    a submission under <webobject name="PastResults"/> to see your feedback.</p>
  </wo:org.webcat.core.WCPageModule>
</wo:not><wo:else><wo:not condition="$reportIsReady">
  <webobject name="GradingHalted">
  <wo:org.webcat.core.WCPageModule title="Assignment Grading Disabled">
    <p>Processing of submissions for this assignment has been
    temporarily halted.  Your submission has been received and
    the time has been properly recorded.  It will be processed
    once the instructor has resolved the issue.
    If the delay is long, an e-mail message will be sent to you at
    <wo:str value="$user.email"/>
    once the results for this submission are available.</p>
  </wo:org.webcat.core.WCPageModule>
  </webobject><webobject name="GradingNotHalted">
    <wo:if condition="$gradingPaused">
    <wo:org.webcat.core.WCPageModule title="Assignment Submission Suspended">
      <p>An internal error occured while the Grader was processing
      your submission.  The administrator and your instructor have been
      notifed of the error.  An e-mail message will be sent to you at
      <wo:str value="$user.email"/>
      once the results for this submission are available.</p>
    </wo:org.webcat.core.WCPageModule>
    </wo:if><wo:else>
    <wo:org.webcat.core.WCPageModule title="Assignment Queued for Grading">
      <webobject name="MetaRefresh1"/>
      <div style="float:left;margin:2em;"><webobject name="Image"/></div>
      <table><thead>
      <tr><th colspan="2">Submission Status</th></tr></thead><tbody>
      <tr class="o"><td>Queued jobs</td><td class="n"><wo:str value="$queuedJobCount"/></td></tr>
      <tr class="e"><td>Most recent job wait</td><td class="n"><webobject name="MostRecentJobWait"/></td></tr>
      <tr class="o"><td>Your queue position</td><td class="n"><wo:str value="$queuePosition"/></td></tr>
      <tr class="e"><td>Your estimated wait</td><td class="n"><webobject name="EstimatedWait"/></td></tr>
      </tbody></table>

      <p>Your submission is being processed by the Grader.
      The grading report will be generated in a few moments.
      This page will refresh automatically in
      <wo:str value="$refreshTimeout"/> seconds, or you can
      <wo:link action="$refreshAction">request an immediate page
      refresh</wo:link>.</p>
    </wo:org.webcat.core.WCPageModule>
    </wo:else>
  </webobject>
</wo:not><wo:else>
  <wo:org.webcat.core.WCPageModule title="Result Summary">
  <wo:WCForm multipleSubmit="true" style="margin-bottom: 0.5em;">
    <wo:if condition="$showReturnToGrading"><wo name="ReturnToGrading"/></wo:if>
    <wo:if condition="$canSubmitAgain"><wo name="SubmitAgain"/></wo:if>
    <wo name="FullPrintableReport"/>
  </wo:WCForm>
  <wo:org.webcat.grader.SubmissionResultInfo submission="$submission"/>
  <wo:if condition="$hasNonZeroScore"><wo name="ScoreSummary"/></wo:if>
  </wo:org.webcat.core.WCPageModule>
  <wo:if condition="$hasNonZeroScore">
    <wo:org.webcat.grader.ScoreGraphsBlock submission="$submission"/>
  </wo:if>
  <wo:if condition="$result.submissionFileStats.count">
  <wo:org.webcat.core.WCPageModule title="File Details">
    <table><thead>
      <tr><th>File<webobject name="WCSortOrder1"/></th>
        <wo:if condition="~(result.status == @org.webcat.core.Status@CHECK)">
        <th class="sm">Staff<br/>Cmts<webobject name="WCSortOrder5"/></th>
        <th class="sm">Staff<br/>Pts<webobject name="WCSortOrder6"/></th>
        </wo:if>
        <wo:if condition="$showAutoGradedComments">
        <th class="sm">AutoGrade<br/>Cmts<webobject name="WCSortOrder4"/></th>
        </wo:if>
        <th class="sm">AutoGrade<br/>Pts<webobject name="WCSortOrder2"/></th>
        <wo:if condition="$showCoverageData">
          <th class="sm left" colspan="2"><webobject name="StatsLabel"/><webobject name="WCSortOrder3"/></th>
        </wo:if></tr></thead><tbody>
      <webobject name="StatRepetition"><webobject name="TR">
        <td><wo:link action="$fileStatsDetails"><wo:str value="$stats.sourceFileName"/></wo:link></td>
        <wo:if condition="~(result.status == @org.webcat.core.Status@CHECK)">
        <td class="n"><wo name="FileStaffRemarks"/></td>
        <td class="n"><wo name="FileStaffDeduction"/></td>
        </wo:if>
        <wo:if condition="$showAutoGradedComments">
        <td class="n"><wo name="FileRemarks"/></td>
        </wo:if>
        <td class="n"><wo name="FileDeduction"/></td>
        <wo:if condition="$showCoverageData"><wo:if condition="$stats.elementsRaw">
          <td class="n"><wo name="Coverage"/>%</td>
          <td><wo name="CoverageMeter"/></td>
          </wo:if><wo:else><td>&nbsp;</td><td>&nbsp;</td></wo:else>
        </wo:if>
      </webobject></webobject>
    </tbody></table>
    </wo:org.webcat.core.WCPageModule>
  </wo:if>
  <wo:if condition="$hasTAComments">
  <wo:org.webcat.core.WCPageModule title="TA/Instructor Comments">
    <wo name="TAComments"/>
  </wo:org.webcat.core.WCPageModule>
  </wo>
  <wo:if condition="$justCollecting">
    <wo:org.webcat.core.WCPageModule title="Submission Received">
      <p>Your submission has been received for grading by the course staff.</p>
    </wo:org.webcat.core.WCPageModule>
  </wo:if>
  <wo:org.webcat.grader.PartialInlineReport submissionResult="$result" file="$result.summaryFile" title="Summary of Automated Feedback" open="$true"/>
  <wo:org.webcat.grader.PartialInlineReport submissionResult="$result" styleVersion="$result.studentReportStyleVersion" file="$result.resultFile" title="Automated Feedback" open="$true"/>
  <wo:if condition="$reportArray.count">
    <wo:org.webcat.core.WCPageModule title="Downloadables" open="false">
    <table><thead>
    <tr><th>File</th><th>Description</th></tr></thead><tbody>
    <wo:loop list="$reportArray" item="$report" index="$index">
    <wo:TableRow index="$index"><td><wo:link action="$fileDeliveryAction"><wo:str value="$reportFileName"/></wo:link></td><td><wo:str value="$report.label"/></td></wo:TableRow>
    </wo:loop>
    </tbody></table>
    </wo:org.webcat.core.WCPageModule>
  </wo:if>
</wo:else></wo:else></wo>
