<webobject name="Page">Student(s) working together on this submission
(remove any incorrect partners):
<div class="shadow"><table><thead>
  <tr><th class="sm">Remove</th><th>User ID<webobject name="WCSortOrder4"/></th>
    <th>Name<webobject name="WCSortOrder3"/></th><th>E-Mail</th></tr></thead><tbody>
  <webobject name="Repetition2"><webobject name="TR2">
    <td><webobject name="NotOriginal"><webobject name="Remove"/></webobject><webobject name="Original"></webobject></td>
    <td><webobject name="String1"/></td>
    <td><webobject name="String2"/></td>
    <td><webobject name="String3"/></td>
  </webobject></webobject></tbody></table></div><div class="spacer">&nbsp;</div>
<p>Other student(s) in class (add any missing partners):<br/>
<div class="shadow"><table><thead>
  <tr><td colspan="4" class="batchnav"><webobject name="BatchNavigator1"/></td></tr></thead><tbody>
  <tr><th>Add</th><th>User ID<webobject name="WCSortOrder2"/></th>
    <th>Name<webobject name="WCSortOrder1"/></th><th>E-Mail</th></tr>
  <webobject name="Repetition1"><webobject name="TR1">
    <td><webobject name="NotPartner"><webobject name="Add"/></webobject><webobject name="AlreadyPartner"></webobject></td>
    <td><webobject name="String4"/></td>
    <td><webobject name="String5"/></td>
    <td><webobject name="String6"/></td>
  </webobject></webobject>
</tbody></table></div></p>
</webobject>
