<?xml version="1.0" encoding="utf-8"?><submission-targets xmlns="http://web-cat.cs.vt.edu/submissionTargets">
    <exclude pattern="Debug/*.exe"/>
    <exclude pattern="Debug/*.o"/>
    <exclude pattern="Release/*.exe"/>
    <exclude pattern="Release/*.o"/>
    <exclude pattern="debug/*"/>
    <exclude pattern="release/*"/>
    <exclude pattern="debug\*"/>
    <exclude pattern="release\*"/>
    <exclude pattern="Debug\*"/>
    <exclude pattern="Release\*"/>
    <exclude pattern="Debug/*"/>
    <exclude pattern="Release/*"/>
    <exclude pattern="*.exe"/>
    <exclude pattern="*.o"/>
    <exclude pattern="*.class"/>
    <exclude pattern="*.jar"/>
    <exclude pattern="*.zip"/>
    <exclude pattern="*.dat*"/>
    <exclude pattern="*.log"/>
    <exclude pattern="*.bin*"/>

<webobject name="HasAssignments"><webobject name="AssignmentRepetition">
<webobject name="GroupByInstitution"><webobject name="StartNewInstitution"><webobject name="IsNotFirst">  <webobject name="EndCourseGroup"/>
<webobject name="EndInstitutionGroup"/>
</webobject><webobject name="BeginInstitutionGroup"/></webobject></webobject>
<webobject name="StartNewCourse"><webobject name="IsNotFirstInInstitution">  <webobject name="EndCourseGroup"/>

</webobject>  <webobject name="BeginCourseGroup"/>

</webobject>    <webobject name="Assignment"><webobject name="InclusionRep">
      <webobject name="IncludePattern"/></webobject><webobject name="ExclusionRep">
      <webobject name="ExcludePattern"/></webobject><webobject name="RequireRep">
      <webobject name="RequirePattern"/></webobject>
      <webobject name="Transport">
        <param name="u" value="${user}"/>
        <param name="p" value="${pw}"/>
        <wo:if condition="$groupByCRN"><wo name="CRN"/></wo:if><wo:else><wo name="CourseNumber"/></wo:else>
        <webobject name="Name"/>
        <webobject name="Authenticator"/>
        <file-param name="file1" value="${user}.jar"/>
      </webobject>
    </webobject></webobject>

  <webobject name="EndCourseGroup"/>
<webobject name="GroupByInstitution"><webobject name="EndInstitutionGroup"/></webobject></webobject>

</submission-targets>
