<webobject name="Page">For: <span class="hl"><wo:if condition="$prefs.assignmentOffering.assignment.url"><webobject name="AssignmentName"/></wo:if><wo:else><wo:str value="$prefs.assignmentOffering.titleString"/></wo:else></span><p>
<div class="shadow"><table><thead>
<tr><th>&nbsp;</th><th>Available Formats</th></tr></thead><tbody>
<tr class="o"><td><webobject name="Blackboard"/></td><td>Blackboard-compatible CSV</td></tr>
<tr class="e"><td><webobject name="Moodle"/></td><td>Moodle-compatible CSV
  (enter Moodle assignment no.:<webobject name="AssignNo"/>)</td></tr>
<tr class="o"><td><webobject name="Full"/></td><td>Fully-detailed Web-CAT CSV</td></tr>
</tbody></table></div><div class="spacer">&nbsp;</div></p>
<p><webobject name="OmitStaff"/> Omit course staff</p>
<webobject name="DownloadScores"/>
</webobject>