<webobject name="Page">For: <span class="hl"><webobject name="AssignmentName"/></span><p>
<div class="shadow"><table>
<tr><th>&nbsp;</th><th>Available Formats</th></tr>
<tr class="o"><td><webobject name="Blackboard"/></td><td>Blackboard-compatible CSV</td></tr>
<tr class="e"><td><webobject name="Moodle"/></td><td>Moodle-compatible CSV
  (enter Moodle assignment no.:<webobject name="AssignNo"/>)</td></tr>
<tr class="o"><td><webobject name="Full"/></td><td>Fully-detailed Web-CAT CSV</td></tr>
</table></div><div class="spacer">&nbsp;</div></p>
<p><webobject name="OmitStaff"/> Omit course staff</p>
<webobject name="DownloadScores"/>
</webobject>