<wo name="Page">

<wo:net.sf.webcat.core.WCPageModule title="~'CSV Roster Preview: ' + numberOfRecords" id="preview">
<p>For: <span class="hl"><wo:str value="$courseOffering.deptNumberAndName"/></span></p>
<wo:if condition="$previewLines.count">
<table class="colborder"><thead>
<tr><wo name="ColHeaderRepetition"><th><wo name="ColHeading"/></th></wo></tr></thead><tbody>
<wo name="LineRepetition"><wo name="TR">
<wo name="ColRepetition"><td><wo:str value="$cell"/></td></wo>
</wo name="TR"></wo name="LineRepetition">
<wo:if condition="$gapBeforeLongLine"><wo name="TRInc"><wo:WOGenericContainer elementName="td"
colspan="$maxRecordLength">
. . .</wo></wo></wo:if>
<wo:if condition="$longPreviewLine"><wo name="TRInc">
<wo name="LPLColRepetition"><td><wo:str value="$cell"/></td></wo>
</wo></wo:if>
<wo:if condition="$gapAfterLongLine"><wo name="TRInc"><wo:WOGenericContainer elementName="td"
style="text-align:center" colspan="$maxRecordLength">
. . .</wo></wo></wo:if>
</tbody></table>
Use the drop-down lists above each column to select the interpretation
of the data in your CSV file.  Either a user name column or an e-mail
column must be identified in order for the CSV file to be processed.  If
no user name column is given, user names will be extracted from e-mail
addresses instead.
</wo:if><wo:else>
<p>No data available to preview.</p>
</wo:else>

<p><wo:if condition="$nextEnabled"><wo:WCButton action="$refresh" label="Refresh Preview"/></wo:if>
<wo:else><wo:WCButton action="$refresh" label="Re-check Columns"/></wo:else></p>

<p>Uploaded file: <span class="hl"><wo:str value="$filePath"/>
(<wo:str value="~@net.sf.webcat.grader.Submission@fileSizeAsString(data.length)"/>)</span></p>

<p>Replace data file: <wo:upload data="$newData" filePath="$newFilePath" dojoType="dojox.form.FileInput"/></p>
<p><wo:WCButton action="$replace" label="Replace"/> <wo name="ReplaceInfo"/></p>
</wo:net.sf.webcat.core.WCPageModule>

<wo:net.sf.webcat.core.WCPageModule title="CSV File Settings">
<p><label for="delim" style="width:auto;">Delimiter:</label><wo name="Delimiter">
  <wo:WCConnectAction event="onChange" action="$refresh"/>
</wo> <wo name="DelimiterInfo"/></p>
<p><wo:WOCheckBox checked="$firstLineColumnHeadings" id="firstLineCols">
  <wo:WCConnectAction event="onChange" action="$refresh"/>
</wo:WOCheckBox>
<label for="firstLineCols" style="width:auto;text-align:left;">First line
contains column names</label> <wo name="FirstLineInfo"/></p>
<wo name="MultipleInstitutions"><p>Institution: <wo name="AuthList">
  <wo:WCConnectAction event="onChange" action="$refresh" remote="true"/>
</wo>  (for any new accounts created)</p></wo name="MultipleInstitutions">
</wo:net.sf.webcat.core.WCPageModule>

</wo>
