.srcView a[id],
.srcView a[id]:link,
.srcView a[id]:visited,
.srcView a[id]:hover,
.srcView a[id]:active {
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    border: none;
}

TD.reportHeader {
    background:  #eff7ff;
    padding:     5px;
    font-weight: bold;
    font-size:   12px;
    border:      #dcdcdc 1px solid;
}

TD.messageBox {
    background: #eff7ff;
    font-size:  12px;
    padding:    5px;
    border:     #dcdcdc 1px solid;
}
DIV#contents TABLE.srcView TD.messageBox {
    padding:    5px;
}

TD.newMessageBox {
    background: #eff7ff;
    padding:    5px;
    font-size:  12px;
    border:     #dcdcdc 5px solid;
}

DIV#contents TABLE.srcView TD.newMessageBox {
    padding:    5px;
}

.titleText {
    font-weight: bold;
    font-size:   12px;
}

TD.titleText {
    background:   #eff7ff;
    padding-left: 5px;
}

TD.headerStats {
    border-left: #dcdcdc 1px solid;
}

TD.graphHeaderLeft {
    background: #eff7ff;
    border:     #dcdcdc 1px solid;
}
TD.graphHeader {
    background:    #eff7ff;
    border-bottom: #dcdcdc 1px solid;
    border-top:    #dcdcdc 1px solid;
    border-right:  #dcdcdc 1px solid;
}

TD.graphItem {
    background: #ffffff;
    border-bottom: #dcdcdc 1px solid;
    border-left:   #dcdcdc 1px solid;
    border-right:  #dcdcdc 1px solid;
    padding-left:  15px;
    padding-right: 15px;
    font-weight:   bold;
    font-size:     12px;
}

TD.graphPercent {
    background:    #ffffff;
    border-bottom: #dcdcdc 1px solid;
    border-right:  #dcdcdc 1px solid;
}

TD.graphBarLeft {
    background:    #ffffff;
    border-bottom: #dcdcdc 1px solid;
}

TD.graphBar {
    background:    #ffffff;
    border-bottom: #dcdcdc 1px solid;
    border-right:  #dcdcdc 1px solid;
    width:         100%;
}

TD.hspacer {
    border-bottom: #dcdcdc 1px solid;
    border-top:    #dcdcdc 1px solid;
}

TABLE.barGraph {
    width: 100%;
}

TD.empty {
    font-size:  2px;
    background: #c0c0c0;
    border:     #9c9c9c 1px solid;
}

TD.fullcover {
    font-size:  2px;
    background: #00df00;
    border:     #9c9c9c 1px solid;
}
TD.covered {
    font-size:     2px;
    background:    #00df00;
    border-left:   #9c9c9c 1px solid;
    border-top:    #9c9c9c 1px solid;
    border-bottom: #9c9c9c 1px solid;
}

TD.uncovered {
    font-size:  2px;
    background: #df0000;
    border:     #9c9c9c 1px solid;
}

DIV#contents TABLE.srcView TD.tabText {
    padding-right: 12px;
}

DIV.timestamp {
    font-size:    9px;
    font-weight:  normal;
    padding-left: 1px;
}

SPAN.srcFile {
    font-size: 9px;
}

TABLE.srcView {
    font-size: 12px;
    border:    #000000 1px solid;
}

TD.lineCount {
    background:    #F0F0F0;
    border-right:  #dcdcdc 1px solid;
    padding-right: 3px;
}
DIV#contents TABLE.srcView TD.lineCount {
    padding-right: 3px;
}

TD.lineCount {
    background:    #F0F0F0;
    border-right:  #dcdcdc 1px solid;
    padding-right: 3px;
}
DIV#contents TABLE.srcView TD.lineCount {
    padding-right: 3px;
}

TD.lineCountHilight {
    background:    #C8C8F0;
    border-right:  #dcdcdc 1px solid;
    padding-right: 3px;
}
DIV#contents TABLE.srcView TD.lineCountHilight {
    padding-right: 3px;
}

SPAN.Hilight {
    background: #C8C8F0;
}

DIV#contents TABLE.srcView TD.srcCell,
TABLE.srcView TD.srcCell,
TD.srcCell
{
    padding-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Inconsolata', fixed, monospace;
    white-space: pre;
}

SPAN.srcLine
{
    display: inline;
    white-space: pre;
    padding-left: 10px;
}

SPAN.srcLineHilight
{
    display: inline;
    white-space: pre;
    padding-left: 10px;
    background: #F0C8C8;
}

TD.srcHilight {
    background: #F0C8C8;
}

TR.Error {
    background: #ff2222;
}

TR.Error TD.srcLine,
TR.Error TD.srcCell {
    color: white;
}

TR.Error SPAN.srcLineHilight,
TR.Error TD.srcHilight {
    color:      white;
    background: #ff2222;
}

TR.Error TD.srcLineClassStart {
    color: white;
    font-weight: normal;
}

TR.Warning {
    background: #FFCC66;
}

TR.Warning SPAN.srcLineHilight,
TR.Warning TD.srcHilight {
    background: #FFCC66;
}

TR.Question {
    background: #FF33FF;
}

TR.Question SPAN.srcLineHilight,
TR.Question TD.srcHilight {
    background: #FF33FF;
}

TR.Question TD.srcLine,
TR.Question TD.srcCell {
    color: white;
}

TR.Question TD.srcLineClassStart {
    color: white;
    font-weight: normal;
}

TR.Suggestion {
    background: #eeff44;
}

TR.Suggestion SPAN.srcLineHilight,
TR.Suggestion TD.srcHilight {
    background: #eeff44;
}

TR.Answer {
    background: #CCCCFF;
}

TR.Answer SPAN.srcLineHilight,
TR.Answer TD.srcHilight {
    background: #CCCCFF;
}

TR.Good {
    background: #33ff00;
}

TR.Good SPAN.srcLineHilight,
TR.Good TD.srcHilight {
    background: #33ff00;
}

TR.Extra_Credit {
    background: #33ff00;
}

TR.Extra_Credit SPAN.srcLineHilight,
TR.Extra_Credit TD.srcHilight {
    background: #33ff00;
}

TD.coverageCount {
    background:    #F0F0F0;
    border-right:  #dcdcdc 1px solid;
    padding-right: 3px;
}
DIV#contents TABLE.srcView TD.coverageCount {
    padding-right: 3px;
}

TD.wholeLine {
    background: #F0C8C8;
}

TD.coverageCountHilight {
    background:    #F0C8C8;
    border-right:  #dcdcdc 1px solid;
    padding-right: 3px;
}
DIV#contents TABLE.srcView TD.coverageCountHilight {
    padding-right: 3px;
}

TD.srcLine,
TD.srcCell {
    width: 100%;
}

TD.srcLineClassStart {
    width:       100%;
    border-top:  #dcdcdc 1px solid;
    font-weight: bold;
}

PRE.srcLine {
    margin-top:    0px;
    margin-bottom: 0px;
}

TD.footer {
    border-top: #dcdcdc 1px solid;
    font-size:  9px;
}

SPAN.keyword {
    color:       #0000ff;
    font-weight: bold;
}

SPAN.string {
    color:       #aa22ff;
    font-weight: bold;
}

SPAN.comment {
    color:      #00bb00;
    font-style: italic;
}

TD.srcLineClassStart SPAN.keyword {
    color:       #0088ff;
    font-weight: bold;
}

TR.Error SPAN.keyword {
    color:       white;
    font-weight: bold;
}

TR.Error SPAN.string {
    color:       white;
}

TR.Error SPAN.comment {
    color:      white;
    font-style: italic;
}

TR.Question SPAN.keyword {
    color:       white;
    font-weight: bold;
}

TR.Question SPAN.string {
    color:       white;
}

TR.Question SPAN.comment {
    color:      white;
    font-style: italic;
}

TR.Error TD.srcLineClassStart SPAN.keyword {
    color:       white;
    font-weight: bold;
}

TR.Error TD.srcLineClassStart SPAN.string {
    color:       white;
}

TR.Error TD.srcLineClassStart SPAN.comment {
    color:      white;
    font-style: italic;
}

TR.Question TD.srcLineClassStart SPAN.keyword {
    color:       white;
    font-weight: bold;
}

TR.Question TD.srcLineClassStart SPAN.comment {
    color:      white;
    font-style: italic;
}
