<webobject name="Page"><webobject name="HasAssignments">For: <span class="hl"><webobject name="CourseName"/></span><p>
<div class="shadow"><table><tbody><tr><th>&nbsp;</th><th>Assignment</th><th>Description</th><th>Deadline</th><th class="sm">Score Distribution</th></tr>
<webobject name="AssignmentRepetition">
<webobject name="TR">
<td><webobject name="RadioButton"/></td>
<td><webobject name="Name"/></td>
<td><webobject name="Description"/></td>
<td class="nowrap"><webobject name="Deadline"/></td>
<td><webobject name="Graph"/></td>
</webobject></webobject></tbody></table></div>
<webobject name="ShowHaltedMessage"><div class="spacer">&nbsp;</div></p><p>
Processing of submissions for assignment(s) in red is <b>currently
halted</b>.  You can still submit, but your solution will not be
automatically graded until the issue is resolved by the instructor
(the correct submission time will still be recorded, however).
</p></webobject></webobject><webobject name="HasNoAssignments">
<span class="hl"><webobject name="CourseName"/></span> has no
assignments open for submission at this time.
</webobject></webobject>