<webobject name="Page"><webobject name="UserRole"/>(s) for <span class="hl"><webobject name="CompactName"/> <webobject name="CourseName"/></span>:<p>
<div class="shadow"><table>
  <tr><th>User ID<webobject name="WCSortOrder4"/></th>
    <th><webobject name="UserRole"/><webobject name="WCSortOrder3"/></th><th>E-Mail</th><th>Action</th></tr>
  <webobject name="Repetition2"><webobject name="TR">
    <td><webobject name="UserID"/></td><td><webobject name="Name"/></td>
    <td><webobject name="Email"/></td><td><webobject name="Remove"/></td>
  </webobject></webobject>
  <webobject name="NoStaff">
	<tr><td colspan="4">No <webobject name="UserRole"/>(s) listed for this course</td></tr>
  </webobject>
</table></div><div class="spacer">&nbsp;</div></p>
<p>Potential staff to add:<br/>
<div class="shadow"><table>
  <tr><td colspan="4" class="batchnav"><webobject name="BatchNavigator1"/></td></tr>
  <tr><th>User ID<webobject name="WCSortOrder2"/></th>
    <th>Name<webobject name="WCSortOrder1"/></th><th>E-Mail</th><th>Action</th></tr>
  <webobject name="Repetition1"><webobject name="TR">
    <td><webobject name="UserID"/></td><td><webobject name="Name"/></td>
    <td><webobject name="Email"/></td>
    <td><webobject name="IsNotStaff"><webobject name="Add"/></webobject><webobject name="IsStaff">&nbsp;</webobject></td>
  </webobject></webobject>
  <webobject name="NoPotentialStaff">
	<tr><td colspan="4">No potential <webobject name="UserRole"/>(s)</td></tr>
  </webobject>
</table></div></p>
</webobject>
