<webobject name="Page">
<wo name="StaffSection">
<wo:WCForm multipleSubmit="true">
  <wo:WCButton action="$next" style="margin-bottom: 0.5em">Return to Course Properties</wo:WCButton>
<table><thead>
  <tr><th>User ID<webobject name="WCSortOrder4"/></th>
    <th><wo:str value="$userRole"/><webobject name="WCSortOrder3"/></th><th>E-Mail</th><th>Action</th></tr></thead><tbody>
  <webobject name="Repetition2"><webobject name="TR">
    <td><webobject name="UserID"/></td><td><wo:if condition="$aUser.url"><webobject name="Name"/></wo:if><wo:else><wo:str value="$aUser.name_LF"/></wo:else></td>
    <td><wo:link href="$aUser.emailHref" string="$aUser.email"/></td><td><webobject name="Remove"/></td>
  </webobject></webobject>
  <wo:not condition="$staffDisplayGroup.displayedObjects.count">
	<tr><td colspan="4">No <wo:str value="$userRole"/>(s) listed for this course</td></tr>
  </wo:not>
</tbody></table>
  <wo:WCButton action="$next">Return to Course Properties</wo:WCButton>
</wo:WCForm>
</wo>

<wo:WCPageModule title="Potential Staff to Add">
<wo:WCForm multipleSubmit="true">
<table><thead>
  <tr><td colspan="4" class="batchnav"><webobject name="BatchNavigator1"/></td></tr>
  <tr><th>User ID<webobject name="WCSortOrder2"/></th>
    <th>Name<webobject name="WCSortOrder1"/></th><th>E-Mail</th><th>Action</th></tr></thead><tbody>
  <webobject name="Repetition1"><webobject name="TR">
    <td><webobject name="UserID"/></td><td><wo:if condition="$aUser.url"><webobject name="Name"/></wo:if><wo:else><wo:str value="$aUser.name_LF"/></wo:else></td>
    <td><wo:link href="$aUser.emailHref" string="$aUser.email"/></td>
    <td><wo:not condition="$isStaff"><webobject name="Add"/></wo><wo:else>&nbsp;</wo:else></td>
  </webobject></webobject>
  <wo:not condition="$potentialDisplayGroup.displayedObjects.count">
	<tr><td colspan="4">No potential <wo:str value="$userRole"/>(s)</td></tr>
  </wo:not>
</tbody></table>
</wo:WCForm>
</wo:WCPageModule>
</webobject>
