<webobject name="Page">For: <span class="hl"><webobject name="CourseName"/></span><p>
Select a student enrolled in this course:<br/>
<div class="shadow"><table>
  <tr class="batchnav"><td colspan="4"><webobject name="BatchNavigator1"/></td></tr>
  <tr><th>&nbsp;</th><th>User ID<webobject name="WCSortOrder2"/></th>
    <th>Name<webobject name="WCSortOrder1"/></th><th>E-Mail</th></tr>
  <webobject name="Repetition1"><webobject name="TR1">
    <td><webobject name="StudentRadioButton"/></td>
    <td><webobject name="String4"/></td>
    <td><webobject name="String5"/></td>
    <td><webobject name="String6"/></td>
  </webobject></webobject>
</table></div></p>
</webobject>
