<webobject name="Page"><webobject name="HasCourses">You are <b>enrolled in</b> these courses:<p>
<div class="shadow"><table><tbody><tr><th>&nbsp;</th><th>Course</th><th>Name</th></tr>
<webobject name="CourseRepetition">
<webobject name="TR">
<td><webobject name="RadioButton1"/></td>
<td><webobject name="CompactName"/></td>
<td><webobject name="CourseName"/></td>
</webobject></webobject></tbody></table></div>
</webobject><webobject name="HasNoCourses">
<p>You are not currently <b>enrolled in</b> any courses.</p>
</webobject><webobject name="HasTACourses"><div class="spacer">&nbsp;</div>
<p>You are <b>grading</b> these courses:</p>
<div class="shadow"><table><tbody><tr><th>&nbsp;</th><th>Course</th><th>Name</th></tr>
<webobject name="TACourseRepetition">
<webobject name="TR">
<td><webobject name="RadioButton2"/></td>
<td><webobject name="CompactName"/></td>
<td><webobject name="CourseName"/></td>
</webobject></webobject></tbody></table></div>
</webobject><webobject name="HasInstructorCourses"><div class="spacer">&nbsp;</div>
<p>You are <b>teaching</b> these courses:</p>
<div class="shadow"><table><tbody><tr><th>&nbsp;</th><th>Course</th><th>Name</th></tr>
<webobject name="InstructorCourseRepetition">
<webobject name="TR">
<td><webobject name="RadioButton3"/></td>
<td><webobject name="CompactName"/></td>
<td><webobject name="CourseName"/></td>
</webobject></webobject></tbody></table></div>
</webobject><webobject name="HasAdminCourses"><div class="spacer">&nbsp;</div>
<p>You have <b>administrative access</b> to these courses:</p>
<div class="shadow"><table><tbody><tr><th>&nbsp;</th><th>Course</th><th>Name</th></tr>
<webobject name="AdminCourseRepetition">
<webobject name="TR">
<td><webobject name="RadioButton4"/></td>
<td><webobject name="CompactName"/></td>
<td><webobject name="CourseName"/></td>
</webobject></webobject></tbody></table></div>
</webobject></webobject>
