<webobject name="Page">Select the submission rule profile to use for <span class="hl"><webobject name="AssignmentName"/></span>:<p>
<div class="shadow"><table><thead>
  <tr><th>&nbsp;</th>
	<th>Name<webobject name="NameSort"/></th>
    <th>Author<webobject name="AuthorSort"/></th><th>Edit</th></tr></thead><tbody>
  <webobject name="ProfileRepetition">
  <webobject name="TR">
	    <td><webobject name="RadioButton"/></td>
	    <td><webobject name="ProfileName"/></td>
	    <td><webobject name="Author"/></td>
	    <td align="center"><webobject name="EditSubmissionProfile"/></td>
  </webobject></webobject>
  <webobject name="LastTR">
    <td><webobject name="LastRadioButton"/></td>
	<td colspan="3">Create a new submission rule profile</td>
  </webobject>
</tbody></table></div></p></webobject>