.file.jar = sub.zip;
.file.exclude = __SHELL*.java;
.file.exclude = *.class;
.file.exclude = *.jar;
.file.exclude = *.zip
.file.exclude = *.dat*;
.file.exclude = *.log;
.file.exclude = *.bin*;

<webobject name="HasAssignments"><webobject name="AssignmentRepetition">
<webobject name="GroupByInstitution"><webobject name="StartNewInstitution"><webobject name="IsNotFirst">  }
}
</webobject><webobject name="InstitutionName"/> {</webobject></webobject>
<webobject name="StartNewCourse"><webobject name="IsNotFirstInInstitution">  }

</webobject>  <webobject name="CourseName"/> {

</webobject>    <webobject name="Name"/> {<webobject name="InclusionRep">
      .file.include   = <webobject name="ThisPattern"/>;</webobject><webobject name="ExclusionRep">
      .file.exclude   = <webobject name="ThisPattern"/>;</webobject><webobject name="RequireRep">
      .file.essential = <webobject name="ThisPattern"/>;</webobject>
      .transport = <webobject name="WebCATURL"/>?u=<field:PID=username>&p=<password:Password>&a=<webobject name="EscapedName"/>&d=<webobject name="Authenticator"/>;
    }</webobject>

  }
<webobject name="GroupByInstitution">}</webobject></webobject>
