<webobject name="Page">For: <span class="hl"><webobject name="AssignmentName"/></span><p><webobject name="Conditional1"><webobject name="DifferentStudent">
  Select from all submissions by <webobject name="StudentName"/> for this assignment.</p><p>
</webobject>
  Select the assignment submission to view:</p>
  <webobject name="BatchNavigator"/>
  <div class="shadow"><table>
    <tr><th>&nbsp;</th><th>No.</th><th>Time</th><th>Score</th></tr>
    <webobject name="Repetition1"><webobject name="TR">
      <td><webobject name="RadioButton1"/></td>
      <td align="right"><webobject name="String1"/></td>
      <td><webobject name="String2"/></td>
      <webobject name=HasResult>
        <td align="right"><webobject name="String3"/></td>
      </webobject><webobject name="HasNoResult">
        <td style="color:red">&lt;<webobject name="String4"/>&gt;</td>
      </webobject>
    </webobject></webobject>
    </table></div>
</webobject></webobject>