<webobject name="Page"><webobject name="Conditional1">For: <span class="hl"><webobject name="AssignmentName"/></span><p>
<webobject name="DifferentStudent">Submitting as: <span class="hl"><webobject name="StudentName"/></span></p><p></webobject>
Please make sure that
<webobject name="IsMultipleFiles">these files constitute</webobject>
<webobject name="IsSingleFile">this file constitutes</webobject>
your full submission, and that you have not accidentally uploaded
an incorrect file.</p>
<div class="shadow"><table><tbody>
  <tr><th>File</th><th>Size</th></tr>
  <webobject name="Repetition1"><webobject name="TR">
    <td><webobject name="String1"/></td>
	<td align="right"><webobject name="String3"/></td>
  </webobject></webobject>
</tbody></table></div><div class="spacer">&nbsp;</div>
<p>Click the <b>Next</b> button to confirm your submission.</p>
<p>You cannot take back a submission once you have clicked <b>Next</b>.
If you wish to make any changes, click the <b>Back</b> button instead.</p>
</webobject></webobject>