<wo name="Page"><wo:if negate="true" condition="$hasMessages">
<wo:org.webcat.core.WCPageModule title="$session.tabs.selectedDescendant.label">
For: <span class="hl"><wo:str value="$prefs.assignmentOffering.titleString"/></span>
<wo:if condition="$session.impersonatingAnotherUser"><p>Submitting as: <span class="hl"><wo:str value="$user.nameAndUid"/></span></p></wo:if>
<p>Please make sure that
<wo:if condition="$singleFile">this file constitutes</wo:if>
<wo:else>these files constitute</wo:else>
your full submission, and that you have not accidentally uploaded
an incorrect file.</p>
<table><thead><tr><th>File</th><th>Size</th></tr></thead><tbody>
  <wo name="Repetition1"><wo name="TR">
    <td><wo name="FileName"/></td>
	<td align="right"><wo:str value="$fileSize"/></td>
  </wo></wo>
</tbody></table>

<wo:WOForm multipleSubmit="true" enctype="multipart/form-data" action="$next">
<p><wo:org.webcat.ui.WCButton action="$back">Change File</wo:org.webcat.ui.WCButton>
<wo:org.webcat.ui.WCButton action="$next">Confirm</wo:org.webcat.ui.WCButton></p>
</wo:WOForm>
</wo:org.webcat.core.WCPageModule></wo:if></wo>