<webobject name="Page"><webobject name="HasExistingFiles">Select the executable entry point for this step:<p>
<div class="shadow"><table><tbody>
  <tr><th>&nbsp;</th>
    <th>File Name<webobject name="WCSortOrder1"/></th>
    <th>Last Modified<webobject name="WCSortOrder2"/></th>
    <th>Size</th></tr>
  <webobject name="Repetition1"><webobject name="TR">
    <td><webobject name="RadioButton1"/></td>
    <td><webobject name="String1"/></td>
    <td><webobject name="String2"/></td>
    <td><webobject name="String3"/></td>
  </webobject></webobject>
</tbody></table></div>
<div class="spacer">&nbsp;</div>
<p>Replace/overwrite this script with a new one:</p>
</webobject><webobject name="NoExistingFiles">Upload a new script (a single file, a zip, or a jar):<p>
</webobject>
<webobject name="UploadScript"/>
</webobject>