<table>
<webobject name="TR"><th class="R" valign="top">Assignment</th>
  <td><webobject name="DeptNumber"/>: <webobject name="AssignmentName"/> try #<webobject name="SubmitNumber"/></td></webobject>
<webobject name="TR"><th class="R" valign="top">Name</th>
  <td><webobject name="StudentName"/><webobject name="AllowPartnerEdit"> <webobject name="EditPartners"/></webobject></td></webobject>
<webobject name="PartnerRepetition"><webobject name="IsAPartner">
  <webobject name="TR"><th class="R">Partner</th>
    <td><webobject name="PartnerName"/></td></webobject>
</webobject></webobject>
<webobject name="TR"><th class="R" valign="top">Submitted</th>
  <td><webobject name="String12"/>, <webobject name="String18"/></td></webobject>
<webobject name="TR"><th class="R" valign="top">Total Score</th>
  <td><webobject name="String19"/><b><webobject name="String7"/></b>/<webobject name="String3"/></td></webobject>
<webobject name="ShowFileInfo">
  <webobject name="TR"><th class="R" valign="top">File Name</th>
    <td><webobject name="FileName"/></td></webobject>
  <webobject name="TR"><th class="R" valign="top">File Score</th>
    <td><webobject name="String1"/> points lost</td></webobject>
</webobject>
</table>