<webobject name="Page"><webobject name="TeachingCourses">You are an
<b>instructor</b> or <b>TA</b> for these courses:<p>
<div class="shadow"><table><tbody><tr><th>&nbsp;</th><th>Course</th><th>Name</th></tr>
<webobject name="TeachingRepetition">
<webobject name="TR">
<td><webobject name="RadioButton1"/></td>
<td><webobject name="CompactName"/></td>
<td><webobject name="CourseName"/></td>
</webobject></webobject></tbody></table></div><div class="spacer">&nbsp;</div>
</webobject><webobject name="NotTeachingCourses">
<p>You are not currently registered as the <b>instructor</b> or <b>TA</b> for any courses.</p>
</webobject><webobject name="HasAdminCourses">You have
<b>administrative access</b> to these courses:<p>
<div class="shadow"><table><tbody><tr><th>&nbsp;</th><th>Course</th><th>Name</th></tr>
<webobject name="AdminRepetition">
<webobject name="TR">
<td><webobject name="RadioButton2"/></td>
<td><webobject name="CompactName"/></td>
<td><webobject name="CourseName"/></td>
</webobject></webobject></tbody></table></div>
</webobject></webobject>
