<webobject name="Page">For <span class="hl"><webobject name="CourseName"/></span>, you can:<p>
<webobject name="RadioButton"/> Create a new assignment</p>
<webobject name="HasReusableAssignments">
<p>Or you can reuse an existing assignment from another section of
<span class="hl"><webobject name="CourseName"/></span>:</p>
<div class="shadow"><table><tbody><tr><th>&nbsp;</th><th>Assignment</th><th>Description</th><th>Author</th></tr>
<webobject name="AssignmentRepetition">
<webobject name="TR">
<td><webobject name="RadioButton"/></td>
<td><webobject name="Name"/></td>
<td><webobject name="Description"/></td>
<td><webobject name="Author"/></td>
</webobject></webobject></tbody></table></div>
<div class="spacer">&nbsp;</div>
  <p>When reusing an assignment, a
  new offering for the assignment is created with its own due date and
  publish and halted settings, but <b>all offerings share</b> the same
  submission profile and grading steps. Changing the submission profile
  or grading steps for one offering of this assignment will affect
  <b>all</b> offerings of this assignment at the same time.</p>
</webobject></webobject>