<webobject name="Page">
<wo:WCForm mutipleSubmit="true">
<webobject name="HasPublishedScripts">
<wo:WCPageModule title="Use a Published Plug-in for This Step">
For: <span class="hl"><webobject name="ForAssignmentName"/></span>
<table><thead>
  <tr><th>&nbsp;</th><!--th>For Language</th--><th>Script</th><th>Owner</th><th>Last Modified</th></tr></thead><tbody>
  <webobject name="Repetition2"><webobject name="TR">
    <td><webobject name="RadioButton2"/></td>
    <!--td><! webobject name="PubScriptLanguage"/></td-->
    <td><webobject name="ScriptName"/></td>
    <td><webobject name="ScriptAuthor"/></td>
    <td><webobject name="ScriptModified"/></td>
  </webobject></webobject>
</tbody></table>
<wo:WCButton label="Add Selected Plug-in" action="$next"/>
</wo:WCPageModule></webobject>

<webobject name="HasEarlierAssignments">
<wo:WCPageModule title="Copy (and Customize) the Steps From an Earlier Assignment">
<table><thead>
  <tr><th>&nbsp;</th><th>Assignment</th><th>Author</th></tr></thead><tbody>
  <webobject name="Repetition1"><webobject name="TR">
    <td><webobject name="RadioButton1"/></td>
    <td><webobject name="AssignmentName"/></td>
    <td><webobject name="AssignmentAuthor"/></td>
  </webobject></webobject>
</tbody></table>
<wo:WCButton label="Add Selected Plug-in" action="$next"/>
</wo:WCPageModule></webobject>

<webobject name="HasPersonalScripts">
<wo:WCPageModule title="Use Your Own Plug-in for This Step">
<table><thead>
  <tr><th>&nbsp;</th><!--th>For Language</th--><th>Plug-in<webobject name="WCSortOrder1"/></th>
    <th>Owner<webobject name="WCSortOrder3"/></th>
    <th>Last Modified<webobject name="WCSortOrder2"/></th></tr></thead><tbody>
  <webobject name="Repetition3"><webobject name="TR">
    <td><webobject name="RadioButton3"/></td>
    <!--td>&nbsp;</td-->
    <td><webobject name="ScriptName"/></td>
    <td><webobject name="ScriptAuthor"/></td>
    <td><webobject name="ScriptModified"/></td>
  </webobject></webobject>
</tbody></table>
<wo:WCButton label="Add Selected Plug-in" action="$next"/>
</wo:WCPageModule></webobject>
</wo:WCForm>
</webobject>
