<webobject name="Page"><webobject name="ShowTable">For: <span class="hl"><webobject name="CourseName"/></span><p>
<div class="shadow"><table><tbody><tr><th>&nbsp;</th><th>Assignment</th><th>Description</th><th>Deadline</th><th class="sm">Score Distribution</th></tr>
<webobject name="AssignmentRepetition">
<webobject name="TR">
<td><webobject name="RadioButton"/></td>
<td><webobject name="Name"/></td>
<td><webobject name="Description"/></td>
<td class="nowrap"><webobject name="Deadline"/></td>
<td><webobject name="Graph"/></td>
</webobject></webobject>
<webobject name="CanCreate"><webobject name="LastTR">
  <td><webobject name="RadioButton2"/></td><td colspan="4">Add another assignment</td>
</webobject></webobject></tbody></table></div></p>
</webobject><webobject name="NoShowTable"><span class="hl"><webobject name="CourseName"/></span> has no assignments.
</webobject></webobject>