<wo name="Dialog"><wo name="Form">
<div>
    <p>Submissions by <span class="hl"><wo:str value="$rootUserSubmission.user.nameAndUid"/></span>:</p>
    <wo name="SubmissionTable">
        <wo:WCTableHeadings>
            <wo:WCTableHeading title="No."/>
            <wo:WCTableHeading title="Time"/>
            <wo:WCTableHeading title="Score"/>
            <wo:WCTableHeading title="Student and Partners"/>
        </wo:WCTableHeadings>
        <wo:WCTableRows item="$aSubmission">
            <wo:WCTableRow>
              <wo:if condition="$aSubmission.result">
                <td align="right"><wo:str value="$aSubmission.submitNumber"/></td>
                <td class="sm"><wo name="SubmitTimeSpan"><wo name="SubmitTime"/></wo></td>
                <td align="right"><wo:if condition="~aSubmission.result.status == @org.webcat.core.Status@CHECK || aSubmission.assignmentOffering.courseOffering.isStaff(user)"><wo name="FinalScore"/></wo:if><wo:else>&lt;Awaiting TA&gt;</wo:else></td>
              </wo:if><wo:else>
                <td align="right"><wo:str value="$aSubmission.submitNumber"/></td>
                <td class="sm"><wo name="SubmitTimeSpan"><wo name="SubmitTime"/></wo></td>
                <td style="color: red">&lt;<wo:str value="$submissionStatus"/>&gt;</td>
              </wo:else>
              <td><wo:str value="$aSubmission.namesOfAllUsers"/></td>
            </wo:WCTableRow>
        </wo:WCTableRows>
    </wo>
</div>
<div style="text-align: center">
    <wo name="OK">
        <script type="dojo/connect" event="onClick">
        dijit.byId('pickSubmissionDialog').hide();
        </script>
    </wo>
    <wo name="Cancel">
        <script type="dojo/connect" event="onClick">
        dijit.byId('pickSubmissionDialog').hide();
        </script>
    </wo>
</div>
</wo></wo>
