<webobject name="HasEnqueuedJobs"><wo:org.webcat.core.WCPageModule title="Submissions in the Queue">
<p>
The following submissions are currently queued for processing:
</p>
<table><thead>
<tr><th>Status</th><th>Submission</th><th>Submission Time</th></tr></thead><tbody>
<wo:loop list="$enqueuedJobGroup.displayedObjects" item="$job" index="$index">
<wo name="TR"><td><wo:if condition="$job.paused">
  <wo:if condition="$job.submission.assignmentOffering.gradingSuspended"><span class="error">Assignment Suspended</span></wo:if><wo:else>
    <span class="caution">Suspended</span></wo:else></wo:if><wo:else>
  <wo:if condition="$job.discarded"><span class="error">Cancelled</span></wo:if><wo:else>
    Queued</wo:else></wo:else></td>
<td><wo:if condition="$job.submission.assignmentOffering.assignment.url"><webobject name="JobAssignmentName"/></wo:if><wo:else><wo:str value="~job.submission.assignmentOffering.titleString(coreSelections.semester)"/></wo:else> try #<webobject name="SubmitNumber"/></td>
<td><webobject name="JobSubmissionTime"/></td></wo>
</wo:loop></tbody></table>
<p>(<b>Suspended</b> submissions must
await action from the instructor or adminstrator for completion; red lines
indicate assignments where the instructor has temporarily suspended all grading.)</p>
</wo:org.webcat.core.WCPageModule></webobject>

<wo:org.webcat.core.WCPageModule title="Assignments Accepting Submissions">
<webobject name="HasAssignments">
<table><thead>
<tr><th>Assignment</th><th>Due</th><th class="sm">Score Distribution</th><th>Action</th></tr></thead><tbody>
<webobject name="AssignmentRepetition">
<webobject name="TR2"><td><wo:if condition="$assignment.assignment.url"><wo name="AssignmentLink"/></wo:if><wo:else><wo name="AssignmentName"/></wo:else><webobject name="AssignmentIsUnpublished">
<span class="caution">(unpublished)</span></webobject><webobject name="AssignmentHasSuspendedSubs">
<span class="caution">(<webobject name="SuspendedCount"/> suspended)</span></webobject></td>
<td class="nowrap"><webobject name="DueDate"/></td>
<td valign="center"><webobject name="Graph"/></td>
<td class="nowrap"><webobject name="SubmitAssignment"/><webobject name="ViewResults"/><webobject name="GraphResults"/><wo:if condition="$canGradeAssignment"><webobject name="GradeAssignment"/></wo:if><wo:if condition="$canEditAssignment"><webobject name="EditAssignment"/></wo:if></td></webobject>
</webobject></tbody></table>
</webobject><webobject name="HasNoAssignments">
<p>There are no assignments currently accepting submissions in your course(s).
</p>
</webobject>
</wo:org.webcat.core.WCPageModule>

<wo:if condition="$oldAssignmentGroup.displayedObjects.count">
<wo:org.webcat.core.WCPageModule title="Older Assignments" open="false" dynamic="true">
<table><thead>
<tr><th>Assignment</th><th>Due</th><th class="sm">Score Distribution</th><th>Action</th></tr></thead><tbody>
<wo:loop list="$oldAssignmentGroup.displayedObjects" item="$assignment" index="$index">
<wo:org.webcat.core.TableRow index="$index" showError="$assignment.gradingSuspended">
<td><wo:if condition="$assignment.assignment.url"><wo name="AssignmentLink"/></wo:if><wo:else><wo name="AssignmentName"/></wo:else><webobject name="AssignmentIsUnpublished">
<span class="caution">(unpublished)</span></webobject><webobject name="AssignmentHasSuspendedSubs">
<span class="caution">(<webobject name="SuspendedCount"/> suspended)</span></webobject></td>
<td class="nowrap"><webobject name="DueDate"/></td>
<td valign="center"><webobject name="Graph"/></td>
<td class="nowrap"><wo:if condition="~assignment.courseOffering.isStaff(user)"><webobject name="SubmitAssignment"/></wo:if><webobject name="ViewResults"/><webobject name="GraphResults"/><wo:if condition="$canGradeAssignment"><webobject name="GradeAssignment"/></wo:if><wo:if condition="$canEditAssignment"><webobject name="EditAssignment"/></wo:if></td></wo:org.webcat.core.TableRow>
</wo:loop></tbody></table>
</wo:org.webcat.core.WCPageModule>
</wo:if>

<webobject name="IsFacultyUser"><webobject name="HasUpcomingAssignments">
<wo:org.webcat.core.WCPageModule title="Other Upcoming Assignment Deadlines" open="false">
<table><thead>
<tr><th>Assignment</th><th>Due</th><webobject name="IsAdminUser"><th>Action</th></webobject></tr></thead><tbody>
<webobject name="UpcomingAssignmentRepetition">
<webobject name="TR2"><td><wo:if condition="$assignment.assignment.url"><wo name="AssignmentLink"/></wo:if><wo:else><wo name="AssignmentName"/></wo:else><webobject name="AssignmentIsUnpublished">
<span class="caution">(unpublished)</span></webobject><webobject name="AssignmentHasSuspendedSubs">
<span class="caution">(<webobject name="SuspendedCount"/> suspended)</span></webobject></td>
<td class="nowrap"><webobject name="DueDate"/></td>
<webobject name="IsAdminUser"><td class="nowrap"><webobject name="SubmitAssignment"/><webobject name="ViewResults"/><webobject name="GraphResults"/><webobject name="GradeAssignment"/><webobject name="EditAssignment"/></td></webobject></webobject>
</webobject></tbody></table>
</wo:org.webcat.core.WCPageModule></webobject></webobject>