<webobject name="Page">
<wo:WCPageModule title="Basic Properties">
<table class="layout"><tbody>
<tr><td align="right">Name:</td>
    <td><webobject name="TextField1"/></td></tr>
<tr><td align="right" valign="top">Points available:</td>
    <td><table class="layout">
<tr><td><webobject name="TextField14"/></td>
    <td>from TA</td></tr>
<tr><td><webobject name="TextField15"/></td>
    <td>from static analysis tools</td></tr>
<tr><td><webobject name="TextField16"/></td>
    <td>from correctness/testing</td></tr>
<tr style="border-top:1px solid black"><td><webobject name="TextField2"/></td>
    <td>Total points available</td></tr>
    </table></td></tr>
<tr><td align="right">Max submissions:</td>
    <td><webobject name="TextField12"/>
    <font size="-1">(blank for unlimited)</font></td></tr>
<tr><td align="right">Max upload size:</td>
    <td><webobject name="TextField13"/>
    <font size="-1">(default <wo:str value="$defaultMaxFileUploadSize"/>, max <wo:str value="$maxMaxFileUploadSize"/>)</font><wo name="MaxFileUploadSizeInfo"/></td></tr>
<tr><td align="right">Start accepting:</td>
    <td><webobject name="TextField3"/>
        <webobject name="PopUpButton1"/> before due date
    <font size="-1">(blank for unlimited)</font></td></tr>
<tr><td align="right">Stop accepting:</td>
    <td><webobject name="TextField4"/>
        <webobject name="PopUpButton2"/> after due date</td></tr>
<tr><td align="right"></td>
    <td colspan="2"><webobject name="AllowPartnersCheckbox"/>
        Allow students to work with partners</td></tr>
</tbody></table>
</wo:WCPageModule>

<wo:WCPageModule title="Bonuses and Penalties">
<table class="layout"><tbody>
<tr><td colspan="2"><webobject name="CheckBox1"/>
    Award bonus points for early submissions</td></tr>
<tr><td colspan="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Award at most
    <webobject name="TextField5"/> pts
    in increments of <webobject name="TextField6"/>
    for every <webobject name="TextField7"/>
    <webobject name="PopUpButton3"/> early</td></tr>
<tr><td colspan="2"><webobject name="CheckBox2"/>
    Deduct penalty for late submissions</td></tr>
<tr><td colspan="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Deduct at most
    <webobject name="TextField8"/> pts
    in increments of <webobject name="TextField9"/>
    for every <webobject name="TextField10"/>
    <webobject name="PopUpButton4"/> late</td></tr>
</tbody></table>
</wo:WCPageModule>

<wo:WCPageModule title="File Inclusions/Exclusions/Requirements">
<p>The file patterns listed here determine what will be included, excluded,
or required when an external submission tool is used to make submissions.
Currently, these specifications are not enforced on zip files directly
uploaded by students.</p>
<table class="layout"><tbody>
<tr><td class="r">Exclude file patterns:</td><td><webobject name="ExcludedFilePatterns"/></td></tr>
<tr><td class="r">Include file patterns:</td><td><webobject name="IncludedFilePatterns"/></td></tr>
<tr><td class="r">Required file patterns:</td><td><webobject name="RequiredFilePatterns"/></td></tr>
<tr><td></td><td>(use commas to separate multiple patterns)</td></tr>
</tbody>
</table>
</wo:WCPageModule>

</webobject>
