<webobject name="Page">
<webobject name="CanEdit">
Any file modifications made on this page will cause all pending changes
to be applied.  All file actions will take effect immediately.</webobject>
<p>
<webobject name="FileBrowser"/>
</p>
<webobject name="CanEdit">
<h2>Create a New Subfolder</h2>
<p>In: <webobject name="FolderList1"/>
new folder name: <webobject name="FolderName"/>
<webobject name="CreateFolder"/></p>

<h2>Upload a New File</h2>
<p>In: <webobject name="FolderList2"/>
upload: <webobject name="UploadFile2"/>
<webobject name="Upload"/><br />
(<webobject name="Unzip"/> unzip/expand archive in target folder)
</p>

<h2>Replace This Entire Folder</h2>
<p>Replace with contents of this zip or jar file: <webobject name="UploadFile3"/>
<webobject name="Replace"/></p>
</webobject></webobject>