<wo name="Page">
<wo:if condition="$forceNavigatorSelection">
<wo:net.sf.webcat.core.WCPageModule title="Upload Your File(s)">
<div class="floatRight"><wo name="Navigator"/></div>
<div style="width:50%;"><p>Please select the course and assignment.</p></div>
</wo:net.sf.webcat.core.WCPageModule></wo:if><wo:else>
<wo:net.sf.webcat.core.WCPageModule title="Upload Your File(s)">
<div class="floatRight"><wo name="Navigator"/></div>
For: <span class="hl"><webobject name="AssignmentName"/></span>
<webobject name="DifferentStudent"><p>Submitting as: <span class="hl"><webobject name="StudentName"/></span></p></webobject>
<webobject name="HasInstructions">
  <p><webobject name="Instructions"/></p>
</webobject><webobject name="HasValidFileUpload">
    <p>So far, you have uploaded the file
    <b><wo:str value="$submissionInProcess.uploadedFileName"/></b>
    (<wo:str value="$uploadedFileSize"/>) for submission.  You can
    replace this with a different file, or choose to continue.</p>
</webobject><webobject name="OkayToSubmit">
<wo:WOForm multipleSubmit="true" enctype="multipart/form-data" action="$next">
<wo:if condition="$showStudentSelector">
    <p>Submit for student: <wo name="StudentList"/></p>
</wo:if>
    <p>Choose the file to upload:</p>
<p><webobject name="FileUpload1"/></p>
<!-- p --><!-- input size="60" type="file" name="0.0.0.2.3.4.1.10.1" dojoType="dojox.form.FileInput"/ --><!-- /p -->
<p><wo:net.sf.webcat.ui.WCButton action="$next">Upload Submission</wo:net.sf.webcat.ui.WCButton></p>
</wo:WOForm></webobject></wo:net.sf.webcat.core.WCPageModule>

<wo:not condition="$showStudentSelector">
<wo:net.sf.webcat.core.WCPageModule title="Previous Submissions" open="false">
<webobject name="HasPreviousSubmissions"><p>Your previous submissions for this assignment:</p>
  <div class="shadow"><table><thead>
  <tr><td colspan="3" class="batchnav"><webobject name="BatchNavigator"/></td></tr>
  <tr><th>No.<webobject name="WCSortOrder3"/></th>
    <th>Time<webobject name="WCSortOrder1"/></th>
    <th>Score<webobject name="WCSortOrder2"/></th></tr></thead><tbody>
  <webobject name="Repetition1"><webobject name="TR">
    <td><webobject name="String1"/></td>
    <td><webobject name="String2"/></td>
    <td align="right"><webobject name="String3"/></td>
  </webobject></webobject></tbody></table></div><div class="spacer">&nbsp;</div>
</webobject><webobject name="HasNoPreviousSubmissions"><p>This is your first submission for this assignment.</p>
</webobject></wo:net.sf.webcat.core.WCPageModule>
</wo:not></wo:else>
</wo>