<wo name="Page">
<wo:org.webcat.core.WCPageModule title="Upload Your File(s)">
<wo:org.webcat.grader.EnergyBarDisplay bar="$bar" cssClass="floatRight"/>
For: <span class="hl"><wo:str value="$prefs.assignmentOffering.titleString"/></span>
<wo:if condition="$session.impersonatingAnotherUser"><p>Submitting as: <span class="hl"><wo:str value="$user.nameAndUid"/></span></p></wo:if>
<wo:if condition="$hasInstructions">
  <p><webobject name="Instructions"/></p>
</wo:if><wo:if condition="$submissionInProcess.hasValidFileUpload">
    <p>So far, you have uploaded the file
    <b><wo:str value="$submissionInProcess.uploadedFileName"/></b>
    (<wo:str value="$uploadedFileSize" formatter="$application.fileSizeFormatter"/>) for submission.  You can
    replace this with a different file, or choose to continue.</p>
</wo:if><wo:if condition="$okayToSubmit"><wo:if condition="$needsLTIClickthrough">
<p>Before you submit to this assignment for the first time, please
<wo:if condition="$prefs.assignmentOffering.lmsAssignmentUrl">
<wo:link href="$prefs.assignmentOffering.lmsAssignmentUrl">visit this
assignment's page</wo:link></wo:if><wo:else>visit this assignment's
page</wo:else>
on your
<wo:str value="$prefs.assignmentOffering.courseOffering.lmsName"/>'s
site, and enter Web-CAT from that page. Thank you.
</p>
</wo:if><wo:else>
<wo:if condition="$isInIFrame">
<div class="clear" style="margin-top:0.5em;">
<wo:WCLink class="btn btn-primary" target="wcfeedback" action="$refreshNoIFrame">Upload Submission</wo:WCLink>
</div>
</wo:if><wo:else>
<wo:WOForm multipleSubmit="true" enctype="multipart/form-data" action="$next">
<wo:if condition="$showStudentSelector">
    <p>Submit for student: <wo name="StudentList"/></p>
</wo:if>
    <p>Choose the file to upload:</p>
<p><webobject name="FileUpload1"/></p>
<!-- p --><!-- input size="60" type="file" name="0.0.0.2.3.4.1.10.1" dojoType="dojox.form.FileInput"/ --><!-- /p -->

<wo:if condition="$prefs.assignmentOffering.assignment.submissionProfile.allowPartners">
<p>
<wo:if condition="$previousPartners.count">
In your last activity on this assignment, you said that you were working
with the following students. If this has changed, click
<b>Choose Partners...</b> below to change them.
</wo:if><wo:else>
You have not yet selected any partners that you are working with on this
assignment. If you are working with partners, click <b>Choose Partners...</b>
to choose them.
</wo:else>
</p>
<p>
<wo name="PartnerSelector"/>
</p>
</wo:if>

<p><wo:org.webcat.ui.WCButton action="$next" label="Upload Submission"/></p>
</wo:WOForm>
</wo:else>
</wo:else></wo:if></wo:org.webcat.core.WCPageModule>

<wo:not condition="$isInIFrame">
<wo:not condition="$showStudentSelector">
<wo:org.webcat.core.WCPageModule title="Previous Submissions" open="false">
<wo:if condition="$hasPreviousSubmissions"><p>Your previous submissions for this assignment:</p>
<table><thead>
  <tr><wo:WOGenericContainer elementName="td" colspan="~4 + ((extraColumnCount gt 1) ? extraColumnCount : 0)" class="batchnav"><wo:WCForm multipleSubmit="true" enctype="multipart/form-data"><webobject name="BatchNavigator"/></wo:WCForm></wo:WOGenericContainer></tr>
  <tr><th>No.<webobject name="WCSortOrder3"/></th>
    <th>Time<webobject name="WCSortOrder1"/></th>
    <wo:if condition="~extraColumnCount gt 1">
      <wo:if condition="$offering.assignment.usesTestingScore"><th class="sm">Correctness/<br/>Testing</th></wo:if>
      <wo:if condition="$offering.assignment.usesToolCheckScore"><th class="sm">Style/<br/>Coding</th></wo:if>
      <wo:if condition="$offering.assignment.usesTAScore"><th class="sm">Design/<br/>Readability</th></wo:if>
      <wo:if condition="$offering.assignment.usesBonusesOrPenalties"><th class="sm">Early/<br/>Late</th></wo:if>
    </wo:if>
    <th>Score<webobject name="WCSortOrder2"/></th>
    <th>Student and Partners</th></tr></thead><tbody>
  <webobject name="Repetition1"><webobject name="TR">
    <td><wo:str value="$aSubmission.submitNumber"/></td>
    <td><wo:str value="$aSubmission.submitTime" formatter="$session.timeFormatter"/></td>
              <wo:if condition="$aSubmission.resultIsReady">
    <wo:if condition="~extraColumnCount gt 1">
      <wo:if condition="$offering.assignment.usesTestingScore"><td class="n"><wo:str value="$aSubmission.result.correctnessScoreRaw" numberformat="0.0"/></td></wo:if>
      <wo:if condition="$offering.assignment.usesToolCheckScore"><td class="n"><wo:str value="$aSubmission.result.toolScoreRaw" numberformat="0.0"/></td></wo:if>
      <wo:if condition="$offering.assignment.usesTAScore"><td class="n">
        <wo:if condition="$aSubmission.isSubmissionForGrading">
          <wo:if condition="~aSubmission.result.status == @org.webcat.core.Status@CHECK || !aSubmission.assignmentOffering.assignment.usesTAScore || aSubmission.assignmentOffering.courseOffering.isStaff(user)">
            <wo:if condition="$offering.assignment.submissionProfile.taPoints">
              <wo:if condition="~aSubmission.result.taScore gt 0">
                <wo:str value="$aSubmission.result.taScoreRaw" numberformat="0.0"/>
              </wo:if>
              <wo:else>
                &lt;Awaiting Staff&gt;
              </wo:else>
            </wo:if>
            <wo:else>
                <wo:str value="$aSubmission.result.taScoreRaw" numberformat="0.0"/>
            </wo:else>
          </wo:if><wo:else>&lt;Awaiting Staff&gt;</wo:else>
        </wo:if></td></wo:if>
      <wo:if condition="$offering.assignment.usesBonusesOrPenalties"><td class="n"><wo:str value="$aSubmission.result.scoreAdjustment" numberformat="0.0"/></td></wo:if>
    </wo:if>
                <td class="n"><wo:if condition="$aSubmission.isSubmissionForGrading"><wo:if condition="~aSubmission.result.status == @org.webcat.core.Status@CHECK || !aSubmission.assignmentOffering.assignment.usesTAScore || aSubmission.assignmentOffering.courseOffering.isStaff(user)"><wo name="FinalScore"/></wo:if><wo:else>&lt;Awaiting Staff&gt;</wo:else></wo:if></td>
              </wo:if><wo:else>
                <wo:WOGenericContainer elementName="td" colspan="~(extraColumnCount gt 1) ? (extraColumnCount + 1) : 1" style="color: red">&lt;<wo:str value="$aSubmission.status"/>&gt;</wo:WOGenericContainer>
              </wo:else>
    <td>
    <wo:str value="$aSubmission.isSubmissionForGrading"/>
    <wo:str value="$aSubmission.result.submission.namesOfAllUsers"/></td>
  </webobject></webobject></tbody></table>
</wo:if><wo:else><p>This is your first submission for this assignment.</p>
</wo:else></wo:org.webcat.core.WCPageModule>
</wo:not>
</wo:not>
</wo>
