<wo:PageWithNavigation>
<wo:form>

<p>Select the <b>course</b> containing the submissions that you want to
regrade.</p>
 
<wo name="Courses" />
<wo name="CoursesObserver" />

<p>Select the <b>assignment</b> containing the submissions that you want to
regrade.</p>

<wo:adiv id="assignmentList">
<wo name="Assignment" />
</wo:adiv>

<p>
<wo name="Regrade" />
</p>

</wo:form>

<wo:adiv frequency="10" style="border: 1px solid gray; padding: 4px; max-height: 500px; overflow: auto">
<p style="font-size: smaller">
<b>Submissions being processed: <wo:str value="$submissions.count" /></b><br/>
<wo:loop list="$submissions" item="$submission">
User <b><wo:str value="$submission.user.userName"/></b>, attempt <b>#<wo:str value="$submission.submitNumber"/></b> ...
<wo:if condition="$submission.result"><b>COMPLETED</b></wo:if>
<br/>
</wo:loop>
</p>
</wo:adiv>

</wo:PageWithNavigation>
