<wo:PageWithNavigation>
<wo:form>

<p>Select the <b>course</b> containing the submissions that you want to
regrade.</p>
 
<wo name="Courses" />
<wo name="CoursesObserver" />

<p>Select the <b>assignment</b> containing the submissions that you want to
regrade.</p>

<wo:adiv id="assignmentList">
<wo name="Assignment" />
</wo:adiv>

<p>
<wo name="Regrade" />
</p>

</wo:form>

<wo:adiv frequency="10" style="border: 1px solid gray; padding: 4px">
<p style="font-size: smaller">
<p>
<b>Number of regrading jobs remaining in queue:</b> <wo:str value="$countOfRegradingJobsInQueue" />
</p>
<b>Next 10 (or less) regrading jobs:</b><br/>
<wo:loop list="$next10JobsInQueue" item="$job">
User <b><wo:str value="$job.submission.user.userName"/></b>, attempt <b>#<wo:str value="$job.submission.submitNumber"/></b> <br/>
</wo:loop>
</p>
</wo:adiv>

</wo:PageWithNavigation>
