<wo name="Page">
<script type="text/javascript">
var regraderWatcher = null;
dojo.addOnLoad(function() {
    regraderWatcher = new webcat.grader.MassRegraderWatcher();
<wo:if condition="$updateCountOfRegradingJobsInQueue">
    regraderWatcher.startGradingStatusMonitor();
</wo:if>
<wo:if condition="$isCurrentlyEnqueuing">
    regraderWatcher.startEnqueueMonitor();
</wo:if>
});
</script>
<wo:WCPageModule title="Choose Course and Assignment">
<wo:if condition="$forceNavigatorSelection">
<div class="floatRight"><wo name="Navigator"/></div>
<div style="width:50%;"><p>Please select the course and assignment.</p></div>
</wo:if><wo:else>
<div class="floatRight"><wo name="Navigator"/></div>
<div style="width:50%;"><p>
For: <span class="hl"><webobject name="AssignmentName"/></span>
</p></div>
</wo:else>
<div style="clear: both">&nbsp;</div>
<wo:WCForm>
<p><b>Or,</b> advanced users may enter a qualifier string for submissions. If
use this option it will <b>override</b> your current course and assignment
selection above.</p>
<p>
<wo name="SubmissionQualifier"><wo:WCConnectAction event="onBlur" action="$updateSubmissionCount" remote="true"/></wo>
</p>
<wo:WCContentPane id="qualifierErrors">
<wo:if condition="$qualifierErrors">
    <wo name="QualifierErrors"/>
</wo:if>
</wo:WCContentPane>
<hr/>
<p>
<wo name="Regrade">
    <wo:WCConnectAction event="onClick" action="massRegrade" remote="true" />
</wo>
<wo:WCContentSpan id="submissionCount">
(<wo:str value="$numberOfSubmissions" /> submission(s) match the current selection.)
</wo:WCContentSpan>
</p>
</wo:WCForm>
<wo:WCContentPane id="enqueueProgress">
<wo:if condition="$isCurrentlyEnqueuing">
<wo name="EnqueueProgressBar"/>
Enqueued <wo:str value="$submissionsEnqueuedSoFar"/> of <wo:str value="$totalSubmissionsToEnqueue"/> submissions.
</wo:if><wo:else>
<script type="text/javascript">
    if (regraderWatcher)
    {
        regraderWatcher.stopEnqueueMonitor();
        regraderWatcher.startGradingStatusMonitor();
    }
</script>
</wo:else>
</wo:WCContentPane>
</wo:WCPageModule>
<wo:WCPageModule title="Regrading Status">
<wo:WCContentPane id="queuePane">
<wo:if condition="$updateCountOfRegradingJobsInQueue">
<p>
There <wo:if condition="~cachedCountOfRegradingJobsInQueue gt 1">are</wo:if><wo:else>is</wo:else>
<b><wo:str value="$cachedCountOfRegradingJobsInQueue"/></b>
active regrading job<wo:if condition="~cachedCountOfRegradingJobsInQueue gt 1">s</wo:if>
remaining in the queue.
<wo:if condition="~cachedCountOfRegradingJobsInQueue gt 10">
The next 10 are shown below.
</wo:if><wo:else>
<wo:if condition="~cachedCountOfRegradingJobsInQueue gt 1">
They are
</wo:if><wo:else>
It is
</wo:else>
shown below.
</wo:else>
<wo:if condition="$updateCountOfSuspendedJobsInQueue">
There are also <wo:str value="$cachedCountOfSuspendedJobsInQueue"/>
<span style="color: red">suspended regrading jobs</span> in the queue.
</wo:if>
</p>
<table>
<thead><tr>
<th>Course and Assignment</th><th>User</th><th>Submission No.</th>
</tr></thead>
<tbody>
<wo:loop list="$nextSetOfJobsInQueue" item="$job" index="$index">
<wo:tr index="$index">
<td><wo:str value="$job.submission.assignmentOffering.toString"/></td>
<td><wo:str value="$job.submission.user.userName"/></td>
<td><wo:str value="$job.submission.submitNumber"/></td>
</wo:tr>
</wo:loop>
</tbody>
</table>
</wo:if><wo:else>
<p>
There are currently <b>no</b> active regrading jobs in the queue.
<wo:if condition="$updateCountOfSuspendedJobsInQueue">
There are <wo:str value="$cachedCountOfSuspendedJobsInQueue"/>
<span style="color: red">suspended regrading jobs</span>.
</wo:if>
</p>
<script type="text/javascript">
    if (regraderWatcher) regraderWatcher.stopGradingStatusMonitor();
</script>
</wo:else>
</wo:WCContentPane>
</wo:WCPageModule>
</wo>
