<webobject name="ShowOption"><webobject name="HideDescription">
<webobject name="IsBoolean">
<p><webobject name="CheckBox"/> <webobject name="OptionName"/></p>
</webobject><webobject name="IsInteger">
<p><webobject name="OptionName"/>: <webobject name="IntegerBox"/></p>
</webobject><webobject name="IsDouble">
<p><webobject name="OptionName"/>: <webobject name="DoubleBox"/></p>
</webobject><webobject name="IsListChoice">
<p><webobject name="OptionName"/>: <webobject name="ListChoice"/></p>
</webobject><webobject name="IsRadioChoice">
<p style="margin-bottom:0"><webobject name="OptionName"/>:</p>
<table style="border:none"><webobject name="RadioRepetition"><tr>
<td><webobject name="RadioButton"/></td><td><webobject name="ChoiceLabel"/></td>
</tr></webobject></table>
</webobject><webobject name="IsFile">
<p><webobject name="OptionName"/>: <webobject name="File"/>
<webobject name="Browse"/><webobject name="HasValue"> <webobject name="UseDefault"/></webobject></p>
</webobject><webobject name="IsFileOrDir">
<p><webobject name="OptionName"/>: <webobject name="File"/>
<webobject name="Browse"/><webobject name="HasValue"> <webobject name="UseDefault"/></webobject></p>
</webobject><webobject name="IsShortText">
<p><webobject name="OptionName"/>: <webobject name="TextBox"/></p>
</webobject><webobject name="IsLongText">
<p style="margin-bottom:0"><webobject name="OptionName"/>:</p><p><webobject name="TextArea"/></p>
</webobject>
</webobject><webobject name="ShowDescription">
<webobject name="IsBoolean">
<p style="margin-bottom:0"><webobject name="CheckBox"/> <b><webobject name="OptionName"/></b></p>
</webobject><webobject name="IsInteger">
<p style="margin-bottom:0"><b><webobject name="OptionName"/></b>: <webobject name="IntegerBox"/></p>
</webobject><webobject name="IsDouble">
<p style="margin-bottom:0"><b><webobject name="OptionName"/></b>: <webobject name="DoubleBox"/></p>
</webobject><webobject name="IsListChoice">
<p style="margin-bottom:0"><b><webobject name="OptionName"/></b>: <webobject name="ListChoice"/></p>
</webobject><webobject name="IsRadioChoice">
<p style="margin-bottom:0"><b><webobject name="OptionName"/></b>:</p>
<table style="border:none"><webobject name="RadioRepetition"><tr>
<td><webobject name="RadioButton"/></td><td><webobject name="ChoiceLabel"/></td>
</tr></webobject></table>
</webobject><webobject name="IsFile">
<p style="margin-bottom:0"><b><webobject name="OptionName"/></b>: <webobject name="File"/>
<webobject name="Browse"/><webobject name="HasValue"> <webobject name="UseDefault"/></webobject></p>
</webobject><webobject name="IsFileOrDir">
<p style="margin-bottom:0"><b><webobject name="OptionName"/></b>: <webobject name="File"/>
<webobject name="Browse"/><webobject name="HasValue"> <webobject name="UseDefault"/></webobject></p>
</webobject><webobject name="IsShortText">
<p style="margin-bottom:0"><b><webobject name="OptionName"/></b>: <webobject name="TextBox"/></p>
</webobject><webobject name="IsLongText">
<p style="margin-bottom:0"><b><webobject name="OptionName"/></b>:</p><p style="margin-bottom:0"><webobject name="TextArea"/></p>
</webobject>
<blockquote style="margin-top:0"><webobject name="Description"/></blockquote></webobject></webobject>