{
    attributes = (
        {
            columnName = CDISCARDED; 
            name = discarded; 
            prototypeName = boolean; 
            userInfo = {isScalar = true; scalarDefault = false; type = boolean; }; 
        }, 
        {name = id; prototypeName = id; }, 
        {
            columnName = CPAUSED; 
            name = paused; 
            prototypeName = boolean; 
            userInfo = {isScalar = true; scalarDefault = false; type = boolean; }; 
        }, 
        {columnName = CQUEUETIME; name = queueTime; prototypeName = dateTime; }, 
        {
            columnName = CREGRADING; 
            name = regrading; 
            prototypeName = boolean; 
            userInfo = {isScalar = true; scalarDefault = false; type = boolean; }; 
        }, 
        {columnName = CSUBMISSIONID; name = submissionId; prototypeName = foreignId; }
    ); 
    attributesUsedForLocking = (discarded, paused, regrading, submissionId); 
    className = "net.sf.webcat.grader.EnqueuedJob"; 
    classProperties = (discarded, paused, queueTime, regrading, submission); 
    externalName = TENQUEUEDJOB; 
    fetchSpecificationDictionary = {}; 
    name = EnqueuedJob; 
    primaryKeyAttributes = (id); 
    relationships = (
        {
            destination = Submission; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = submissionId; }); 
            name = submission; 
        }
    ); 
}
