{
    attributes = (
        {
            columnName = CDISCARDED;
            name = discarded;
            prototypeName = boolean;
            userInfo = {isScalar = true; scalarDefault = false; type = boolean; };
        },
        {name = id; prototypeName = id; },
        {
            columnName = CPAUSED;
            name = paused;
            prototypeName = boolean;
            userInfo = {isScalar = true; scalarDefault = false; type = boolean; };
        },
        {
            columnName = processor;
            name = processor;
            prototypeName = integer;
            userInfo =
            {
                isScalar = true;
                scalarConversionMethodName = intValue;
                scalarDefault = 0;
                type = int;
                valueClassName = Integer;
            };
        },
        {columnName = CQUEUETIME; name = queueTime; prototypeName = dateTime; },
        {
            columnName = priority;
            name = priority;
            prototypeName = tinyInteger;
            userInfo =
            {
                isScalar = true;
                scalarConversionMethodName = byteValue;
                scalarDefault = 0;
                type = byte;
                valueClassName = Byte;
            };
        },
        {columnName = CSUBMISSIONID; name = submissionId; prototypeName = foreignId; }
    );
    attributesUsedForLocking = (
        discarded,
        paused,
        priority,
        processor,
        submissionId
    );
    className = "org.webcat.grader.EnqueuedJob";
    classProperties = (discarded, paused, priority, processor, queueTime, submission);
    externalName = TENQUEUEDJOB;
    fetchSpecificationDictionary = {};
    name = EnqueuedJob;
    primaryKeyAttributes = (id);
    relationships = (
        {
            destination = Submission;
            isToMany = N;
            joinSemantic = EOInnerJoin;
            joins = ({destinationAttribute = id; sourceAttribute = submissionId; });
            name = submission;
        }
    );
}
