{
    attributes = (
        {
            columnName = CBLANKLINEPT; 
            name = blankLinePt; 
            prototypeName = double; 
            userInfo = {
                isScalar = true; 
                scalarConversionMethodName = doubleValue; 
                scalarDefault = "0.0"; 
                type = double; 
                valueClassName = Double; 
            }; 
        }, 
        {
            columnName = CDEADTIMEDELTA; 
            name = deadTimeDelta; 
            prototypeName = long; 
            userInfo = {
                isScalar = true; 
                scalarConversionMethodName = longValue; 
                scalarDefault = 0L; 
                type = long; 
                valueClassName = Long; 
            }; 
        }, 
        {
            columnName = CDIFFLINESYNCING; 
            name = diffLineSyncing; 
            prototypeName = boolean; 
            userInfo = {isScalar = true; scalarDefault = false; type = boolean; }; 
        }, 
        {
            columnName = CEXTRALINEPT; 
            name = extraLinePt; 
            prototypeName = double; 
            userInfo = {
                isScalar = true; 
                scalarConversionMethodName = doubleValue; 
                scalarDefault = "0.0"; 
                type = double; 
                valueClassName = Double; 
            }; 
        }, 
        {
            columnName = CFLOATCOMPARSIONSTYLE; 
            name = floatComparisonStyle; 
            prototypeName = boolean; 
            userInfo = {isScalar = true; scalarDefault = false; type = boolean; }; 
        }, 
        {
            columnName = CFLOATNEGATIVESTYLE; 
            name = floatNegativeDelta; 
            prototypeName = double; 
            userInfo = {
                isScalar = true; 
                scalarConversionMethodName = doubleValue; 
                scalarDefault = "0.0"; 
                type = double; 
                valueClassName = Double; 
            }; 
        }, 
        {
            columnName = CFLOATPOSITIVESTYLE; 
            name = floatPositiveDelta; 
            prototypeName = double; 
            userInfo = {
                isScalar = true; 
                scalarConversionMethodName = doubleValue; 
                scalarDefault = "0.0"; 
                type = double; 
                valueClassName = Double; 
            }; 
        }, 
        {name = id; prototypeName = id; }, 
        {
            columnName = CIGNOREBLANKLINES; 
            name = ignoreBlankLines; 
            prototypeName = boolean; 
            userInfo = {isScalar = true; scalarDefault = false; type = boolean; }; 
        }, 
        {
            columnName = CIGNORECASE; 
            name = ignoreCase; 
            prototypeName = boolean; 
            userInfo = {isScalar = true; scalarDefault = false; type = boolean; }; 
        }, 
        {
            columnName = CIGNORENONPRINTING; 
            name = ignoreNonprinting; 
            prototypeName = boolean; 
            userInfo = {isScalar = true; scalarDefault = false; type = boolean; }; 
        }, 
        {
            columnName = CINGOREPUNCTUATION; 
            name = ignorePunctuation; 
            prototypeName = boolean; 
            userInfo = {isScalar = true; scalarDefault = false; type = boolean; }; 
        }, 
        {
            columnName = CIGNOREWHITESPACE; 
            name = ignoreWhitespace; 
            prototypeName = boolean; 
            userInfo = {isScalar = true; scalarDefault = false; type = boolean; }; 
        }, 
        {columnName = FPROFILENAME; name = name; prototypeName = tinyText; }, 
        {
            columnName = CNOREMALIZEWHITESPACE; 
            name = normalizeWhitespace; 
            prototypeName = boolean; 
            userInfo = {isScalar = true; scalarDefault = false; type = boolean; }; 
        }, 
        {
            columnName = CPUNCTUATIONTOIGNORE; 
            name = punctuationToIgnore; 
            prototypeName = mediumText; 
        }, 
        {
            columnName = CSTRINGCOMPARSIONSTYLE; 
            name = stringComparsionStyle; 
            prototypeName = integer; 
            userInfo = {
                isScalar = true; 
                scalarConversionMethodName = intValue; 
                scalarDefault = 0; 
                type = int; 
                valueClassName = Integer; 
            }; 
        }, 
        {
            columnName = "CTOKENIZING_STYLE"; 
            name = tokenizingStyle; 
            prototypeName = boolean; 
            userInfo = {isScalar = true; scalarDefault = false; type = boolean; }; 
        }, 
        {
            columnName = CTRIMWHITESPACE; 
            name = trimWhitespace; 
            prototypeName = boolean; 
            userInfo = {isScalar = true; scalarDefault = false; type = boolean; }; 
        }, 
        {columnName = CUSERID; name = userId; prototypeName = foreignId; }
    ); 
    attributesUsedForLocking = (
        deadTimeDelta, 
        diffLineSyncing, 
        floatComparisonStyle, 
        ignoreBlankLines, 
        ignoreCase, 
        ignoreNonprinting, 
        ignorePunctuation, 
        ignoreWhitespace, 
        name, 
        normalizeWhitespace, 
        stringComparsionStyle, 
        tokenizingStyle, 
        trimWhitespace, 
        userId
    ); 
    className = "org.webcat.grader.GradingCriteria"; 
    classProperties = (
        assignment, 
        author, 
        blankLinePt, 
        deadTimeDelta, 
        diffLineSyncing, 
        extraLinePt, 
        floatComparisonStyle, 
        floatNegativeDelta, 
        floatPositiveDelta, 
        ignoreBlankLines, 
        ignoreCase, 
        ignoreNonprinting, 
        ignorePunctuation, 
        ignoreWhitespace, 
        name, 
        normalizeWhitespace, 
        punctuationToIgnore, 
        stringComparsionStyle, 
        tokenizingStyle, 
        trimWhitespace
    ); 
    externalName = TGRADINGCRITERIA; 
    fetchSpecificationDictionary = {}; 
    name = GradingCriteria; 
    primaryKeyAttributes = (id); 
    relationships = (
        {
            destination = Assignment; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = submissionProfileId; sourceAttribute = id; }); 
            name = assignment; 
        }, 
        {
            destination = User; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = userId; }); 
            name = author; 
        }
    ); 
}
